<form id="addbutton" name="user" method="post" action="<?php echo $this->url($this->config['RouteName'], array('action'=>'add','id'=>$this->supermodule));?>">
    <input id="submitbutton" type="submit" value="<?php echo $this->translate("Dodaj"); ?>" name="submit">
</form>  
<?php if(is_array($this->config['Filter']) && count($this->config['Filter'])>0){?>
<div id="filter"><?php echo $this->translate("Filtrowanie"); ?></div>
<div id="filter-window">
    <form method="post" id="searchform" action="<?php echo($this->url($this->config['RouteName'],array('action'=>'list')));?>">
         <label>
            <span><?php echo $this->translate("Wpisz słowo do wyszukania"); ?></span>
            <input type="text" value="<?php echo($this->search!=""?$this->search:"");?>" name="<?php echo $this->translate('Search'); ?>"/>
        </label>
        <label>
            <span><?php echo $this->translate("Sortuj według"); ?></span>
            <select name="sort" >
                <option value="empty">==<?php echo($this->translate("Brak"));?>==</option>
                <?php 
                if(is_array($this->config['Filter']['sortfields']) && count($this->config['Filter']['sortfields'])>0)
                {
                    foreach ($this->config['Filter']['sortfields'] as $key => $sortfield) {      
                        $asc = $key.($this->config['Pola'][$key]['Lang']==true?\GLobals::getLang():"").' asc';
                        $desc = $key.($this->config['Pola'][$key]['Lang']==true?\GLobals::getLang():"").' desc';
                        echo('<option value="'.$asc.'" '.($this->sort==$asc?"selected=\"selected\"":"").'>'.$sortfield.' '.$this->translate("rosnąco").'</option>');
                        echo('<option value="'.$desc.'" '.($this->sort==$desc?"selected=\"selected\"":"").'>'.$sortfield.' '.$this->translate("malejąco").'</option>');
                    }
                }
                ?>
            </select>
        </label>
        <div id="filter-buttons">
            <a id="close-filter"><?php echo($this->translate("Anuluj"));?></a>
            <a id="clear-filter"><?php echo($this->translate("Wyczyść"));?></a>
            <input type="submit" value="<?php echo($this->translate("Filtruj"));?>"/>
        </div>
    </form>
</div>
<?php } ?>
<div class="odstep"></div>
<h1><?php echo($this->translate("Moduł: ").$this->config['ModuleName']); ?></h1>
<div class="odstep"></div>
<?php 
  if(isset($this->pages))
    {
      $cfg = $this->config;
      ?>
    <div class="pagination">
        <a href="<?php echo $this->url($this->config['RouteName'], array('action'=>'list', 'page'=>0)) ?>" title="Pierwsza strona">&laquo;</a>       
        <?php if($this->page!=0){?>
        <a href="<?php echo($this->url($cfg['RouteName'],array('action'=>'list','page'=>$this->page-1,'id'=>1)));?>"><</a>
    <?php  }
            $i=0;
            while($i<$this->pages)
            {
                if($i==$this->page){
                    echo('<span>'.($i+1).'</span>');
                }
                else 
                {
                    echo('<a href="'.$this->url($cfg['RouteName'],array('action'=>'list','page'=>$i)).'">'.($i+1).'</a>');
                }
                 $i++;
            }
            if($this->page+1!=$this->pages){
    ?>
        <a href="<?php echo($this->url($cfg['RouteName'],array('action'=>'list', 'page'=>$this->page+1)));?>">&gt;</a>
            <?php } ?>
        <a href="<?php echo($this->url($cfg['RouteName'],array('action'=>'list', 'page'=>$this->pages-1)));?>">&raquo;</a>
    </div>
<?php 
    }
$pola=$this->config['Pola'];
    if($this->config['ListType']=='list'){
?>

    <table id="list">
       <tr>
           <?php 
           //preparowanie nagłówków        
                if(is_array($this->naglowki)){
                   foreach ($this->naglowki as $i => $field){                      
                       ?>
                        <th>
                            <?php echo($field); ?>
                        </th>
                    <?php 
                   }    
                   ?>
                        <th>Opcje</th>
                   <?php
                }
                /*
                 * Wypełnianie wierszy tabeli
                 */
               
                if(is_array($this->wiersze)){
                   foreach ($this->wiersze as $i => $field){ //pętla po wierszach                    
                       ?>
                        <tr id="row-<?php echo($field['Id']); //dopisanie id do wiersza tabeli?>">
                           <?php   foreach ($this->naglowki as $j => $value){ //pętla po nagłówkach aby uzupełnić pola
                              ?> 
                            <td><?php       
                                    $nazwa = $j;                                    
                                    if($this->config['Pola'][$j]['Lang'])
                                    {
                                        $nazwa.=\Globals::getLang();
                                    }                                   
                                    if($pola[$j]['Link'] == 'true'){//sprawdzenie czy jest link do edycji ?>
                                        <a href="<?php echo $this->url($this->config['RouteName'], array('action'=>'edit', 'id'=>$field['Id']));?>"><?php echo($field[$nazwa]); ?></a>
                                   <?php  }else if($pola[$j]['LiveChange'] !=null ){//sprawdzenie czy zmiana stanu ?>
                                       <a title="Zmień wartość" id="<?php echo $this->config['RouteName'].'-'.$j.'-'.$field[$j]; ?>" class="change-value<?php echo ($field[$j]==0?' inactive':($field[$j]==1?' active':'')); ?>">
                                <?php
                                    echo $pola[$j]['Values'][$field[$j]]; 
                                ?>
                            </a>
                                        
                                 <?php   }
                                 else{
                                    echo($field[$nazwa]); 
                                 }
                                    
                                    ?>
                            </td>
                            <?php
                            }  
                            ?>
                           
                            
                            <td>
                                <?php echo('<a class="delete right" id="'.$this->config['RouteName'].'-'.$field['Id'].'"></a>'); ?>
                                <?php echo('<a class="edit right" title="edytuj" href="'. $this->url($this->config['RouteName'], array('action'=>'edit', 'id'=>$field['Id'])).'"></a>'); ?>
                                <?php 
                                /*
                                 * sprawdzenie czy są submoduły
                                 */
                              
                                    if(is_array($this->config['Options'])){
                                        foreach ($this->config['Options'] as $name => $option) {
                                ?>
                                            <a <?php echo ($option['Controller']!='' && $option['Action']!=''?'href="'.$this->url($option['Controller'], array('action'=>$option['Action'], 'id'=>$field['Id'])).'"':''); ?> title="<?php echo $name; ?>" class="<?php echo isset($option['Class'])?$option['Class']:''; ?>"><?php echo isset($option['Class'])?"":$name; ?></a>
                                <?php
                                        }
                                    }
                                ?>
                                
                            </td>
                            
                        </tr>
                    <?php 
                   }                     
                }   
                 /*
                 * Wypełnianie wierszy tabeli end
                 */  
                   ?>
           
       </tr>    

    </table>
<?php 
    }else{?>
            <ul class="tree" id="<?php echo($this->config['RouteName']); ?>">  
                <li class="root">
                    Kategoria główna     
                    <ul id="<?php echo($this->config['RouteName']);?>-0" class="list-sortable ui-sortable">
                    <?php  echo treeToHtml($this->tree, $this->config, 0, $this); ?>
                    </ul>    
                </li>
            </ul>
   <?php }
   
   
   function treeToHtml($tree, $cfg, $sup=0, $obj){ 
	$sesja=new \Zend\Session\Container(); 
      $html = '';
      $pola=$obj->config['Pola'];
        if(is_array($tree)){
            $html = "";
            $i = 1;
            $count = count($tree);
            foreach ($tree as $key => $field) {
                if(is_object($field['item'])){
                    $html.='<li id="box-'.$obj->config['RouteName'].'-'.$field['item']['Id'].'" title="Przeciągnij i upuść, aby zmienić kolejność" class="ui-state">';
                        $html.='<div class="pola">';	
                            $html.='<a class="delete right" title="'.$obj->translate("usuń").'" id="'.$obj->config['RouteName'].'-'.$field['item']['Id'].'"></a>';  
                            $html.='<a class="edit right" title="edytuj" href="'.$obj->url($obj->config['RouteName'], array('action'=>'edit', 'id'=>$field['item']['Id'])).'"></a>';
                            foreach ($field['item'] as $k => $p) {
                                      if($k!="Id" && $k!="PrevId" && $k!="Kolej"){  
                                       if($pola[$k]['Link'] ){//sprawdzenie czy jest link do edycji
                                        $html.='<a href="'.$obj->url($obj->config['RouteName'], array('action'=>'edit', 'id'=>$field['item']['Id'])).'">'.(strip_tags($field['item'][$k])).'</a>';
                                     } 
                                       if($pola[$k]['LiveChange'] !=null ){
                                           
                                            $html.='<a title="Zmień wartość" id="'. $obj->config['RouteName'].'-'.$k.'-'.$field['item']['Stan'].'" class="change-value'.($field['item']['Stan']==0?' inactive':($field['item']['Stan']==1?' active':($field['item']['Stan']==2?' inactive':''))).'">';
                                          
                                                 $html.=$pola['Stan']['Values'][$field['item']['Stan']];//[$field['item']['Stan']];                                
                                          
                                           $html.='</a>';
                                            
                                        } 
                                      }
                                    }
                            //opcje dodatkowe
                                        if(is_array($obj->config['Options'])){ 
                                            foreach ($obj->config['Options'] as $name => $option) {                       
                                                $html.='<a class="option '.($option['Class']?$option['Class']:'').'" '.(($option['Controller']!='' && $option['Action']!='')?' href="'.$obj->url($option['Controller'], array('action'=>$option['Action'], 'id'=>$field['item']['Id'])).'"':'').'>'. ($option['Class']?'':$name).'</a>';                              
                                            }
                                        } 
                                   
                                        
                        $html.='</div>';
                        
                        if(is_array($field['sub'])){
                            $html.='<a class="rozwin"></a>';
                            $html .='<ul class="sub ui-sortable list-sortable" id="'.$obj->config['RouteName'].'-'.$field['item']->Id.'">'. treeToHtml($field['sub'], $cfg, $field['item']->Id, $obj).'</ul>';
                    }
                    $html.='</li>';
                }
                $i++;
            }
            
        
        }
        
        return $html;
    }        
?>
