/*kontenery główne*/
body{height: 100%; width: 100%; margin: 0px; padding: 0px; font-family:'Source Sans Pro', Arial, sans-serif; font-size:16px; background:#fff url('../gfx/background.jpg') no-repeat top center;  background-size:cover;background-repeat:no-repeat;color:#444; text-align:left; font-weight: 400; line-height:1em;}
body.loggedin{background:#f5f5f5;}    
div#content {clear: both; display: block; margin: 0 auto; min-height: 365px;  position: relative;  width: 100%; margin-top:100px;}
div#content-wrapper {background: none; border: none; display: table;  margin: 0 auto;  min-height: 365px;  width: 960px; margin-bottom:20px; position:relative;}
img{border:none;}
div#header {background: none; border: none; display: table;  margin: 0 auto;  min-height: 110px;  width: 960px;}
div#login-panel-wrapper { background: -moz-linear-gradient(270deg, #FFFFFF 0%, #EBEBEB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #DEDEDE; border-radius: 6px 6px 6px 6px; display: block; height: 175px; margin: 0 auto; padding: 20px; width: 340px; margin-top:150px;  position: relative;}
div#title{ text-shadow: 0 1px 0 #ccc,  0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1),  0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2),  0 5px 10px rgba(0,0,0,.25),   0 10px 10px rgba(0,0,0,.2),  0 20px 20px rgba(0,0,0,.15); font-size:4em; text-align:center; display:block; margin-top:30px; color:#06a14b;}
a{ cursor: pointer;    text-decoration: none;}
/*panel logowania*/
div#login-panel-wrapper:before, div#login-panel-wrapper:after
{  z-index: -1; position: absolute;content: ""; bottom: 15px;left: 10px; width: 50%; top: 80%; max-width:300px; }
div#login-panel-wrapper:after
{-webkit-transform: rotate(3deg); -moz-transform: rotate(3deg); -o-transform: rotate(3deg); -ms-transform: rotate(3deg); transform: rotate(3deg); right: 10px; left: auto;}
div#login-panel-wrapper form{width:100%;}
div#login-panel-wrapper label{width:100%!important; display:block; margin-bottom:20px;}
div#login-panel-wrapper label span{width:100%; display:block; font-size:0.75em;}
div#login-panel-wrapper label   input {padding: 5px; font-size: 15px;  text-shadow: 0px 1px 0px #fff; width:100%;}  
div#login-panel-wrapper label  input:focus { -webkit-box-shadow: 0px 0px 5px #007eff;  -moz-box-shadow: 0px 0px 5px #007eff;   box-shadow: 0px 0px 5px #007eff;  }
/*przycisk zaloguj*/
 #submitbutton{font-size: 1em; color: #FFF;  border: 1px solid #999; float:right; text-shadow: 0px 1px 1px #666;text-decoration: none; width:100px; height:35px; -moz-box-shadow: 0 1px 3px #111; -webkit-box-shadow: 0 1px 3px #111; box-shadow: 0 1px 3px #111; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; background: #458E0B; cursor: pointer; text-align:center;}
div#login-panel-wrapper #submitbutton:hover{border: 1px solid #FFF;}

@media all and (max-width:980px){
    div#content-wrapper{width:96%; margin-left:2%; }
    div#title{font-size:3em;}
}
div.error{border: 1px solid #DEDEDE; border-radius: 6px 6px 6px 6px;  display: block;  height: 20px; margin: 70px auto 0;  padding: 20px;  position: relative;  width: 340px; background-color: #ee8585;	filter:alpha(opacity=90);opacity: 0.9;	-moz-opacity:0.9; color:#fff;}
div#error{border: 1px solid #DEDEDE; border-radius: 6px 6px 6px 6px;  display: block;  height: 20px; margin: 70px auto 0;  padding: 20px;  position: relative;  width: 340px; background-color: #ee8585;	filter:alpha(opacity=90);opacity: 0.9;	-moz-opacity:0.9; color:#fff;}
div#info{border: 1px solid #DEDEDE; border-radius: 6px 6px 6px 6px;  display: block;  height: 20px; margin: 70px auto 0;  padding: 20px;  position: relative;  width: 340px; background-color: #a6e3bd;	filter:alpha(opacity=90);opacity: 0.9;	-moz-opacity:0.9; color:#fff;}
nav { background:#71ba37 url('../gfx/cms-background.png') repeat-x bottom center;  height: 70px; min-width: 1024px;   width: 100%; color: #FFFFFF; margin-bottom:20px; z-index:91; -webkit-transition: height 0.3s; -moz-transition: height 0.3s; -ms-transition: height 0.3s;  -o-transition: height 0.3s; transition: height 0.3s; position:fixed; top:0;}


ul.menuUL {display: block; float: left; font-family: 'Roboto Condensed',sans-serif; font-size: 1.1em; margin-right: 12px; /*margin-top: 26px;*/ min-height: 42px; width: auto;}
ul.menuUL.small {margin-top:5px;}
ul.menuUL.small li{padding-top:11px;}

div#nav-wrapper { display: table; font-size: 1em; /* height: 50px;*/  margin: 0 auto;    text-align: center;
    width: 960px;}
ul.menuUL li  img{width:40px; -webkit-transition: all .05s linear;-moz-transition: all .05s linear;-ms-transition: all .05s linear; -o-transition: all .05s linear;transition: all .05s linear;}
ul.menuUL li#home{padding-top:5px;}
ul.menuUL li#home.small img{width:30px;}
ul.menuUL li{ display: block; float: left; list-style: none outside none; padding: 12px 10px 17px 10px;	-webkit-transition: padding .05s linear;-moz-transition: padding .05s linear;	-ms-transition: padding .05s linear;	-o-transition: padding .05s linear;transition: padding .05s linear; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;}
ul.menuUL li:hover{background: #458e0b; color:#fff;}
ul.menuUL li a{ display: block; text-decoration: none;  color: #fff;cursor:pointer; -webkit-transition: all .1s ease-out;	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;-o-transition: all .1s ease-out;transition: all .1s ease-out;  font-family: 'Roboto Condensed', sans-serif;  font-weight: 300;} 

ul.menuUL li ul.sub{ position: absolute;  display: none;border-style:none;z-index:90; -webkit-transition: all .1s ease-out;-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;-o-transition: all .1s ease-out;transition: all .1s ease-out;}
ul.menuUL li ul.sub{border-style: none; display: none; float: left; margin-left: -10px; margin-top: 17px; padding: 0; position: absolute; width: 150px; z-index: 90;-webkit-transition: all .1s ease-out;-moz-transition: all .1s ease-out; -ms-transition: all .1s ease-out;-o-transition: all .1s ease-out;transition: all .1s ease-out; border:1px solid #71ba37;}
ul.menuUL li a:hover{color:#FFD162;}
ul.menuUL li:hover ul.sub{  display: block;z-index:91; -moz-transition: 0.3s ease-in; -webkit-transition: 0.3s ease-in; -o-transition: 0.3s ease-in; transition: 0.3s ease-in;}
ul.menuUL li ul.sub li.sub2{ background-color:#458e0b;  position: relative;width:150px;height:30px;  margin:0;float: left; -webkit-transition: background .1s ease-out;-moz-transition: background .1s ease-out;-ms-transition: background .1s ease-out;-o-transition: background .1s ease-out;transition: background .1s ease-out; padding:0; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; border-bottom: 1px solid #71ba37;  line-height: 1.7em;}
ul.menuUL li ul.sub li.sub2 a{font-size:14px;}
h2{margin-left:10px;}
ul.menuUL li ul.sub li.sub2:hover {position: relative;width:150px;height:30px;  margin:0;float: left;}
ul.menuUL *:hover {-moz-transition: 0.3s ease-in; -webkit-transition: 0.3s ease-in; -o-transition: 0.3s ease-in; transition: 0.3s ease-in;}
table#list .active{color:#055f10; font-size:16px; font-family: 'Roboto Condensed',sans-serif; }
/*tabela uzytkowników*/
table#uzytkownicy{width:92%; margin-left:4%; border:none;  border-spacing:0;    border-collapse:collapse; margin-top:60px;}
table#uzytkownicy th{background:#458e0b; color:#fff; font-size:0.875em; font-weight:100; height:30px; border-right: 1px solid #fff; text-align: center;}
table#uzytkownicy tr{background:#7cbe48; color:#202020; font-size:0.875em; font-weight:100; height:40px; border-bottom: 1px solid #fff;}
table#uzytkownicy td{ border-right: 1px solid #fff; text-align:center;}
.pola a.active{color:#055f10 !important; /*font-size:16px; font-family: 'Roboto Condensed',sans-serif;  margin-right:30px; */float:left; /*position:absolute; right:0;*/}
a.active{color:#055f10 !important; font-size:16px; font-family: 'Roboto Condensed',sans-serif;  }
a.inactive{color:#701008 !important; font-size:16px; font-family: 'Roboto Condensed',sans-serif; margin-right:75px; float:right; position:relative; right:0;}
table#uzytkownicy a{color:#fff;}
#content-wrapper form#user{width:96%; margin-top:10px; float:left; }
#content-wrapper form#user label{width: 30%; float:left; margin-left:3%; margin-bottom:10px;}
#content-wrapper form#user label span{width: 100%; float:left; font-size: 0.75em;}
#content-wrapper form#user label input{width: 100%; float:left; border:1px solid #d9d9d9;  border-radius: 4px;  -moz-border-radius: 4px;  -webkit-border-radius: 4px; height:20px; line-height: 1em;}
#content-wrapper form#user label select{width: 100%; float:left; border:1px solid #d9d9d9;  border-radius: 4px;  -moz-border-radius: 4px;  -webkit-border-radius: 4px; height:24px;}
#content-wrapper form#user input#submitbutton{width:10%;}
#content-wrapper form#user input#submitbutton:hover{border: 1px solid #FFF; line-height:1em;}

div.odstep{width:100%; float:left; height:20px;}
h3{width:98%; height: 30px; color:#fff; cursor:pointer;line-height: 1.625em; padding-left:2%;  background: -moz-linear-gradient(270deg, #71BB3B 0%, #3E9D09 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); background: -o-linear-gradient(270deg, #71bb3b 0%, #3e9d09 100%); background:-webkit-linear-gradient(90deg, #71bb3b 0%, #3e9d09 100%);
    border: 1px solid #B8B8B8;   border-radius: 5px;  -moz-border-radius: 5px;  -webkit-border-radius: 5px;
    }
div.uprawnieniaKontener{display:none;}
a.delete{cursor:pointer; width:30px; height:30px;  background:url('../gfx/delete.png') no-repeat top center; display:block;}

/*buttony na stronie głównej*/
div.button-big{background:url('../gfx/box_background.png') no-repeat top center; float:left; width:154px; height:139px; display:block; margin-left:4%; margin-bottom:25px; position:relative;}
div.button-big:nth-of-type(6n){margin-left:3%;}
div.button-big:nth-of-type(1){margin-left:3%;}
div.button-big a{width:100%; height:100%; display:block;}
div.button-big span{ font-size: 1.375em; width:100%; display: block; text-align:center; line-height:1em; padding-top:25px; color:#fff; font-weight:300; text-shadow: 2px 2px 3px rgba(255,255,255,0.1); float:left; position:absolute; bottom:20px; font-family: 'Roboto Condensed',sans-serif; font-size: 17px;}
div.button-big.users{background:url('../gfx/users-box.png') no-repeat top center;}
div.button-big.role{background:url('../gfx/role-box.png') no-repeat top center;}
div.button-big.baners{background:url('../gfx/baners-box.png') no-repeat top center;}
div.button-big.boxes{background:url('../gfx/boxes-box.png') no-repeat top center;}
div.button-big.contact{background:url('../gfx/contact-box.png') no-repeat top center;}
div.button-big.news{background:url('../gfx/news-box.png') no-repeat top center;}
div.button-big.page{background:url('../gfx/page-box.png') no-repeat top center;}
div.button-big.social{background:url('../gfx/social-box.png') no-repeat top center;}
div.button-big.menu{background:url('../gfx/menu-box.png') no-repeat top center;}
div.button-big.products{background:url('../gfx/products-box.png') no-repeat top center;}
div.button-big.calendar{background:url('../gfx/calendar-box.png') no-repeat top center;}
div.button-big.partners{background:url('../gfx/partners-box.png') no-repeat top center;}
div.button-big.group{background:url('../gfx/group-box.png') no-repeat top center;}
div.button-big.messages{background:url('../gfx/messages-box.png') no-repeat top center;}
div.button-big.newsletter{background:url('../gfx/newsletter-box.png') no-repeat top center;}
div.button-big.settings{background:url('../gfx/settings-box.png') no-repeat top center;}

table#list{width:100%; margin-left:0; border:none;  border-spacing:0;    border-collapse:collapse; margin-top:60px;}
table#list th{background:#458e0b; color:#fff; font-size:0.875em; font-weight:100; height:30px; border-right: 1px solid #fff; text-align: center;}
table#list tr{background:#7dbe48; color:#202020; font-size:0.875em; font-weight:100; height:40px; border-bottom: 1px solid #fff;}
table#list td{ border-right: 1px solid #fff; text-align:center;}
table#list a{color:#fff;}

ul.tree li ul.list-sortable li {  clear: both;  display: table;  float: left;  font-weight: 400;  width: 99%; height:40px; margin-bottom:5px;}
ul.tree li ul.list-sortable li {
    cursor: move;
}
.ui-state{background: -moz-linear-gradient(270deg, #71bb3b 0%, #3e9d09 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);background: -o-linear-gradient(270deg, #71bb3b 0%, #3e9d09 100%); background:-webkit-linear-gradient(90deg, #71bb3b 0%, #3e9d09 100%); border: 1px solid #B8B8B8;  border-radius: 5px 5px 5px 5px; display: block; float: left; height: auto; min-height: 40%; width: 96%;}
ul.tree {display: block; float: left; font-size: 0.875em;  font-weight: 700; list-style: none outside none; padding: 0; width: 96%; position:relative;}
#sortable-box{font-size: 1em; font-weight: 400; list-style: none outside none;  margin-top: 8px;  padding: 0;}
ul.tree li.root { margin: 5px 0;}
ul.tree li.root ul#sortable-box li.ui-sortable-placeholder{display:none !important;}
ul.tree li ul.list-sortable ul.sub{display:none;}
a.rozwin{cursor:pointer; width:30px; height:30px;  background:url('../gfx/plus.png') no-repeat top center; display:block; margin-top:10px;}
a.show{background:url('../gfx/minus.png') no-repeat top center; margin-top:20px;}
div.pola{line-height:3em; float:left; width:95%; margin-left:4%;}
.tree a{color:#fff;}
a.change-value{float:right; width:10%;  margin-left:30px; }
table a.change-value{ width:auto; float:none;}
div.min-file { background: url("../gfx/zdjecie.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); display: block;  float: left;  height: 40px;  margin: 0 5px; width: 40px;}
div#content label {display: block; float: left; margin-bottom: 30px; width:31%; margin-right:2%; position:relative; height:50px;}
div#content label.graphics-label{width:60%;}
div#content div.graphics-content {display: block; float: left; position: relative; width:67%; height: 110px;}
div#content div.graphics-content label{width:48%;}
a.del-file{position:absolute; right:0; top:0;}
div#content label span{width:100%; display:block; position:relative; clear:both;}
/*div#content div#content-wrapper label input{width:40%; height:25px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border:none;}*/
  div#lang-controls{display: block; float: right; min-width: 60px; width: 75px; height: 30px; padding: 0px; margin:25px 2% 0 0;  background: url('../gfx/lang-select.png') no-repeat right; overflow:hidden; position: relative; z-index: 90; -webkit-transition: all .1s ease-out; -moz-transition: all .1s ease-out; -ms-transition: all .1s ease-out;-o-transition: all .1s ease-out;transition: all .1s ease-out;}
  div#lang-controls.small{margin-top:10px;}
        
div#lang-controls:hover{overflow: visible !important;}
div#lang-controls ul{list-style: none; padding: 0px; margin: 0px;}
div#lang-controls ul li{display: block; float: left; width: 60px;  padding: 0px; margin: 0px; padding-right:12px;  background: #71BA37;}
div#lang-controls ul:first-child li{background: none; padding-right:12px}
div#lang-controls ul li a{display: block; float: left; width: 24px; padding: 8px 50px 8px 6px; margin:0px; font-size: 10px; line-height: 14px; font-family: Tahoma,Arial,sans-serif; color:#fff;}
div#lang-controls ul li a:hover{color:#ffd162;}
div#lang-controls ul li a.pl{background: url('../gfx/pl.png') no-repeat center center;}
div#lang-controls ul li a.en{background: url('../gfx/en.png') no-repeat center center;}
div#lang-controls ul li a.de{background: url('../gfx/de.png') no-repeat center center;}
div#lang-controls ul li a.ru{background: url('../gfx/ru.png') no-repeat center center;}


a#logout{ margin-top:30px; margin-right: 2%; display:block; float:right; color:#fff; font-size: 1.1em; -webkit-transition: all .1s ease-out; -moz-transition: all .1s ease-out; -ms-transition: all .1s ease-out;-o-transition: all .1s ease-out;transition: all .1s ease-out;  font-family: 'Roboto Condensed', sans-serif;  font-weight: 300; background: url('../gfx/logout.png') no-repeat left center; padding-left:3%;}
a#logout:hover{color:#FFD162;background: url('../gfx/logout-hover.png') no-repeat left center;}
a#logout.small{margin-top:10px;}
li a.active{color:#fff !important; border:none;}
 div#lang-controls:hover ul li {border: 1px solid #999; text-shadow: 0px 1px 1px #666; -moz-box-shadow: 0 1px 3px #111;-webkit-box-shadow: 0 1px 3px #111; box-shadow: 0 1px 3px #111;}
 .wide{width:100% !important; height:430px !important;}
 .mceEditor {width:100%;}
 div.pola a{float:left;}
 div.pola a.delete{float:right; margin-top:10px;}
 a#galeria{background: url('../gfx/galeria.png') no-repeat center center; width:40px; height:40px; display:block ;position:relative; clear:both;}
 h3{font-size: 1em; font-weight: 400; clear:both;}
#fileQueue {background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #AAAAAA; border-radius: 5px; float: left; height: 54px; margin: 0 auto; overflow: auto; text-align: center; width: 80%;}
p#upi {float: left; width: auto;}
 div.gallery ul.sortable{display: block; float: left; width: 100%; padding:0px;}
        div.gallery ul.sortable li{display: block; float: left; width: 17.5%; height:214px; margin: 10px 1%; background: #fff; border:1px solid #6a6a6a; border-bottom:3px solid #6a6a6a; position: relative; cursor: move;}
        div.gallery ul.sortable li img{display: block; float: left; max-width: 100%; max-height:140px;}
        div.gallery ul.sortable li span.head{display: block; float: left; width: 85%; padding: 5px 7.5%; border-bottom: 1px solid #e3e3e3; font-size: 0.75em;}
        div.gallery ul.sortable li span.head a.gallery-delete{display: block; float: right;}
        div.gallery ul.sortable li span.buttons{display: block; position: absolute; bottom: 0px; left: 0px; width: 85%; padding: 5px 7.5%; border-top: 1px solid #e3e3e3;}
        div.gallery ul.sortable li span.buttons.prime{background: url('../gfx/foto-prime.png') no-repeat left bottom;}
        div.gallery ul.sortable li span.buttons a{display: block; float: right;  color:#fff; -webkit-border-radius: 14px; -moz-border-radius: 14px; border-radius: 14px; padding:4px 6px; font-size: 0.75em; margin:0px 2px; font-size: 1em;}
        div.gallery ul.sortable li span.buttons a.active{color: #3eba1c !important;}
        div.gallery ul.sortable li span.buttons a.inactive{color: #db0000 !important; right:auto;}
        
        @media all and (max-width:780px){
            div.gallery ul.sortable li{width: 30%;}
        }
        
        
        div#gallery-box{display: none; width:260px; height: auto; background: #fff; border: 1px solid #acacac; border-bottom-width: 3px; padding:20px 10px; position: absolute;}
        div#gallery-box label{display: block; width:100%;}
        div#gallery-box label textarea{width:95%; height:80px; -moz-box-shadow: inset 0px 2px #eee; -webkit-box-shadow: inset 0px 2px #eee; box-shadow: inset 0px 2px #eee;}
        
        div#gallery-desc{display: none; width:260px; height: auto; background: #fff; border: 1px solid #acacac; border-bottom-width: 3px; padding:20px 10px; position: absolute;}
        div#gallery-desc p{display: block; width:100%;}
        div#gallery-desc h2{margin-top: 0px;}
      
.container { margin: 20px auto;  width: 100%;}
.contr { border-radius: 10px 10px 0 0;  padding: 10px 0; text-align: center; background: -o-linear-gradient(270deg, #dfdfdf 0%, #d1d1d1 100%); background:-webkit-linear-gradient(90deg, #dfdfdf 0%, #d1d1d1 100%); background:-moz-linear-gradient(270deg, #dfdfdf 0%, #d1d1d1 100%); }
.upload_form_cont {color: #000000; display: table; float:left; position: relative; width:100%;}
#dropArea {float: left; font-size: 1.5em; height: 200px; line-height: 135px; position: relative; text-align: center; width: 100%; font-family: 'Source Sans Pro',Arial,sans-serif; color:#333333; border:1px solid #bbbbbb; margin-bottom:20px; background: #1e5799; background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 0%, #eaeaea 0%, #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#207cca), color-stop(0%,#eaeaea), color-stop(100%,#ffffff)); background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%); background: -o-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%); background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=0 ); border: 1px solid #d9d9d9; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.info {float: left;  font-weight: bold; position: relative; width: 100%; background: #1e5799; background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 0%, #eaeaea 0%, #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#207cca), color-stop(0%,#eaeaea), color-stop(100%,#ffffff)); background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%); background: -o-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%); background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=0 ); border: 1px solid #d9d9d9; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; color:#1fa115;}
.info > div { font-size: 14px; font-weight: bold; padding: 10px 15px 5px;}
.info > canvas { margin-bottom: 10px; margin-left: 15px; display:block;}
div.zdjecie-wynik{ display:block; position:relative; clear:both;}
label.clear-left{font-size:12px;}
footer {height: auto; width: 100%; /*background: #71ba37;*/}
footer div#footer-wrapper { clear: both; display: table; font-size: 0.75em; height: auto;margin: 0 auto; text-align: center; width: 960px; border-top:1px solid #71ba37;}
footer div#footer-wrapper a {  color: #fff;}
label input{width:100%; font-family:'Source Sans Pro', Arial, sans-serif; }
label input[type="text"]{-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;  padding-left:5%; width:95%; font-size:1em; line-height:2em; background: #1e5799; background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 0%, #eaeaea 0%, #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#207cca), color-stop(0%,#eaeaea), color-stop(100%,#ffffff)); background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%); background: -o-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%); background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=0 ); border: 1px solid #d9d9d9;}
label textarea{-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;  padding-left:5%; width:95%; font-size:1em; line-height:2em; background: #1e5799; background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 0%, #eaeaea 0%, #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#207cca), color-stop(0%,#eaeaea), color-stop(100%,#ffffff)); background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%); background: -o-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%); background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=0 ); border: 1px solid #d9d9d9;}
label input[type="password"]{-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; border: 1px solid #d9d9d9;padding-left:5%; width:95%; font-size:1em; line-height:2em; background: #1e5799; background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 0%, #eaeaea 0%, #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#207cca), color-stop(0%,#eaeaea), color-stop(100%,#ffffff)); background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%); background: -o-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%); background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=0 ); }
label select{width:100%; height:37px; border: 1px solid #d9d9d9; background: #1e5799;background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 0%, #eaeaea 0%, #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#207cca), color-stop(0%,#eaeaea), color-stop(100%,#ffffff)); background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%);background: -o-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%); background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=0 ); -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
label select option{background: #458e0b; color:#fff;}
form#subpage{ display: block; float: left; position: relative; width: 100%;}
label input[name="Coordinates"]{width:40%;}
label.privileges{width:15% !important;}
label.privileges input{width:auto !important;}
td a.inactive{position:relative; margin-right:0;}
div#info-validation{display: block; margin: 0 auto; width: 50%; min-height: 45px; border: 1px solid #aaa; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background: #71BA37 url('../gfx/validation-info.png') no-repeat 20px 20px; padding:20px 2% 20px 12%; color: #fff; font-size: 0.75em;  margin-bottom: 10px; } 
div#error-validation{display: block; margin: 0 auto; width: 50%; min-height: 45px; border: 1px solid #aaa; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background: #d80000 url('../gfx/validation-error.png') no-repeat 20px 20px; padding:20px 2% 20px 12%; color: #fff; font-size: 0.75em;  margin-bottom: 10px;} 
table#uzytkownicy a.inactive{float:none; margin-right:0;}
div.icon-file{  border: 2px solid #2B7403;border-radius: 5px; width:90%; background:#d4d2d2; text-align:center; height:100px;}
div.icon-file img{max-width:270px; max-height: 100px;}
a.edit{cursor:pointer; width:30px; height:30px;  background:url('../gfx/edit.png') no-repeat left center; display:block;}
div#gallery-box{display: none; width:260px; height: auto; background: #fff; border: 1px solid #acacac; border-bottom-width: 3px; padding:20px 10px; position: absolute;}
div#gallery-box label{display: block; width:100%;}
div#gallery-box input{display: block; width:100%;}
div#gallery-box label textarea{width:95%; height:80px; -moz-box-shadow: inset 0px 2px #eee; -webkit-box-shadow: inset 0px 2px #eee; box-shadow: inset 0px 2px #eee;}
a#back{display: block; float: right; clear: both; margin-top: 17px; height: 35px; color: #fff; text-align: center; border:none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: -o-linear-gradient(270deg, #22b717 0%, #1fa115 100%); background:-webkit-linear-gradient(270deg, #22b717 0%, #1fa115 100%); background:-moz-linear-gradient(270deg, #22b717 0%, #1fa115 100%); cursor: pointer; width:10%; line-height:2em; margin-bottom:20px;}
div#gallery-desc{display: none; width:260px; height: auto; background: #fff; border: 1px solid #acacac; border-bottom-width: 3px; padding:20px 10px; position: absolute;}
div#gallery-desc p{display: block; width:100%;}
div#gallery-desc h2{margin-top: 0px;}
div#content input[type=submit]{display: block; float: right; clear: both; margin-top: 35px; height: 35px; color: #fff; text-align: center; border:none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: -o-linear-gradient(270deg, #22b717 0%, #1fa115 100%); background:-webkit-linear-gradient(270deg, #22b717 0%, #1fa115 100%); background:-moz-linear-gradient(270deg, #22b717 0%, #1fa115 100%); cursor: pointer; width:20%;  box-sizing: border-box;}
div#content input[type="submit"]:hover{border:1px solid #fff;}
div#content a.greybutton{display: block; float: right; margin: 17px 15px 0px 0px; line-height: 40px; height: 35px; font-size: 0.875em; color: #fff; text-align: center; border:none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: -o-linear-gradient(270deg, #cbcbcb 0%, #616161 100%); background:-webkit-linear-gradient(270deg, #cbcbcb 0%, #616161 100%); background:-moz-linear-gradient(270deg, #cbcbcb 0%, #616161 100%); cursor: pointer; padding: 0px 5px; width:30%; }
.right{float:right;}
.red{color:#f00;}
div.pola .right{float:right; margin-top:7px;}
h1{color:#3E9D09; font-size:1.5em; font-family: 'Roboto Condensed',sans-serif;  float:left; display:block; position: relative; }
form#users #submitbutton{margin-top:-18px; height:25px; line-height: 1em; background:#06a14b;}
div.uprawnieniaKontener{width:100%;}
ul#sortable-box a.change-value{right:10%;}
div.pola a.option{ float: right; margin-right:1%;}
div#map{height: 400px; width:100%; margin-left: 0; margin-top:10px;  float:left; display:block; position: relative; margin-bottom:40px;}
tr.mceLast span{display: inline !important;}
.mceLayout{max-width:100% !important; }
div.ui-widget { font-size: 0.8em; }
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

div#postinfo{float:left; display: block; position: relative; width:100%; margin-top:40px;}
div#postinfo p{text-align: center; font-size:0.8em;}
div.pagination{float:left; display: block; position: relative; width:100%;}
div.pagination a{float:left; display:block; position: relative; width:25px; height:25px; background: -o-linear-gradient(270deg, #22b717 0%, #1fa115 100%); background:-webkit-linear-gradient(270deg, #22b717 0%, #1fa115 100%); background:-moz-linear-gradient(270deg, #22b717 0%, #1fa115 100%);  margin-right:5px; text-align: center; color:#fff;  border:none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-shadow: 0px 1px 1px #666; -moz-box-shadow: 0 1px 3px #111; -webkit-box-shadow: 0 1px 3px #111; box-shadow: 0 1px 3px #111; box-sizing: border-box; line-height:1.5em; margin-bottom:30px;}
div.pagination a:hover,div.pagination a.paginationactive{border:1px solid #fff;}
div.pagination span{float:left; display:block; position: relative; width:25px; height:25px; background: -o-linear-gradient(270deg, #22b717 0%, #1fa115 100%); background:-webkit-linear-gradient(270deg, #22b717 0%, #1fa115 100%); background:-moz-linear-gradient(270deg, #22b717 0%, #1fa115 100%);  margin-right:5px; text-align: center; color:#fff;  border:none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-shadow: 0px 1px 1px #666; -moz-box-shadow: 0 1px 3px #111; -webkit-box-shadow: 0 1px 3px #111; box-shadow: 0 1px 3px #111; box-sizing: border-box; line-height:1.5em; margin-bottom:30px;border:1px solid #fff;}
form#addbutton{float:right; display: block; position: relative; width:10%;}
form#addbutton input[type="submit"]{float:right; display: block; position: relative; width:100%; margin-top:0;}
div#filter{float:right; display: block; position: relative; width:10%; margin-right:2%; background: -o-linear-gradient(270deg, #22b717 0%, #1fa115 100%); background:-webkit-linear-gradient(270deg, #22b717 0%, #1fa115 100%); background:-moz-linear-gradient(270deg, #22b717 0%, #1fa115 100%);  margin-right:5px; text-align: center; color:#fff;  border:none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-shadow: 0px 1px 1px #666; -moz-box-shadow: 0 1px 3px #111; -webkit-box-shadow: 0 1px 3px #111; box-shadow: 0 1px 3px #111; box-sizing: border-box; margin-bottom:30px; height:35px; line-height: 2em; cursor: pointer;}
div#filter:hover{border:1px solid #fff;}
div#filter-window{-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;  padding:0 5%; width:60%; font-size:1em; line-height:2em; background: #1e5799; background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 0%, #eaeaea 0%, #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#207cca), color-stop(0%,#eaeaea), color-stop(100%,#ffffff)); background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%); background: -o-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%); background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 0%,#eaeaea 0%,#ffffff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=0 ); border: 1px solid #d9d9d9; position:absolute; right:0; top:100px; display: none; height:150px; z-index:100;}
div#filter-window label{width:48%;}
div#filter-window label:last-of-type{margin-right:0; margin-left:2%;}
div#filter-buttons{float:left; display: block; position: relative; width:100%; border-top: 1px solid #d9d9d9; padding-top:10px; margin-top:10px;}
div#filter-buttons *{float:right; display: block; position: relative; width:10%; margin-right:2%; background: -o-linear-gradient(270deg, #22b717 0%, #1fa115 100%); background:-webkit-linear-gradient(270deg, #22b717 0%, #1fa115 100%); background:-moz-linear-gradient(270deg, #22b717 0%, #1fa115 100%);  margin-right:5px; text-align: center; color:#fff;  border:none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-shadow: 0px 1px 1px #666; -moz-box-shadow: 0 1px 3px #111; -webkit-box-shadow: 0 1px 3px #111; box-shadow: 0 1px 3px #111; box-sizing: border-box; margin-bottom:30px; height:35px; line-height: 2em; cursor: pointer; margin:0 0 0 2% !important; clear: none !important; width:25% !important; font-size: 1em !important;}
div#filter-buttons input:hover, div#filter-buttons a:hover{border:1px solid #fff;}
a.small-gallery{float:right; display: block; position: relative; width:20px; height:20px; background:url('../gfx/small-gallery.png') no-repeat left center; margin-right:5px; margin-top:5px;}
.tree a.small-gallery{margin-top:10px;}
a.small-file{float:right; display: block; position: relative; width:20px; height:20px; background:url('../gfx/small-file.png') no-repeat left center; margin-right:5px; margin-top:5px;}
.tree a.small-file{margin-top:10px;}
a.small-movie{float:right; display: block; position: relative; width:20px; height:20px; background:url('../gfx/small-movie.png') no-repeat left center; margin-right:5px; margin-top:5px;}
.tree a.small-movie{margin-top:10px;}
a.small-maillist{float:right; display: block; position: relative; width:20px; height:20px; background:url('../gfx/small-maillist.png') no-repeat left center; margin-right:5px; margin-top:5px;}
.tree a.small-maillist{margin-top:10px;}
#newslettermessage{float:left; display: block; position: relative; width:100%;}
@media all and (max-width:960px){
    footer div#footer-wrapper{width:100%;}
    div#header{width:100%;}
    div#nav-wrapper{width:100%;}
    nav{min-width:100%;}
   
 }

@media all and (max-width:800px){
    label.privileges{width:25% !important;}
   
}
@media all and (max-width:680px){
     table{width:100% !important;}
      .mceEditor table {
    max-width:none; /* Bug in computation of fullscreen */
    }

    .mceEditor table.mceLayout {
    width:100% !important;
    height:auto !important;
    }

    table.mceToolbar { float:left; }
    body .mceToolbar div {
    white-space:normal;
    }
    #Opis_ifr{width:100%;}
    div#Opis_toolbargroup table{width:100% !important;}
}
@media all and (max-width:550px){
    label.privileges{width:45% !important;}
    #content-wrapper form#user input#submitbutton{width:20%;}
    div.pola{width:90%; margin-left:10%;}
    a.change-value{width:15%; }
    .pola a.active{margin-right:10%;}
    
}
 @media all and (max-width:460px){
    ul.menuUL{width:100%; margin-left:0; padding:0;}
    div#nav-wrapper{display:table; height:auto;}
    nav{height:auto;}
    ul.menuUL li{float:left; display:block; position:relative; width: 100%;}
    ul.menuUL li ul.sub{float:left; position:relative; width: 102%;}
    ul.menuUL li{padding-left:0;padding-right:0;}
    ul.menuUL li ul.sub li.sub2{float:left; display:block; position:relative; width: 100%;}
    ul.menuUL li ul.sub li.sub2:hover {position: relative;width:100%;height:30px;  margin:0;float: left;}
    div#lang-controls{width:100%; float:left; display:block; position:relative;}
    div#logout{width:100%; margin-right:0;}
    div#login-panel-wrapper{width:88%;}
 }
 @media all and (max-width:360px){
  div.button-big{width:53%; margin-left:23.5% !important;}
  label.privileges{width:100% !important; text-align: center; }
 }
