<div id="content-header">
    <div id="content-header-wrapper">
        <a id="home" title="<?php echo($this->translate("Strona główna"));?>" href="<?php echo(\Globals::getConfig()->siteurl);?>"></a>
        <div id="phone-wrapper">
            <?php 
            if(isset($this->phones) && $this->phones->count()>0)
            {
                foreach ($this->phones as $key => $phone) {
                    ?>
                <div class="phone">
                    <span class="phone-name"><?php echo($phone->Nazwa);?> TEL.: </span>
                    <span class="phone-number"><?php echo($phone->Telefon);?></span>
                </div>
                   
                    <?php
                }
            }
            ?>
        </div>
    </div>
</div>
<div id="content-boxes">
    <div id="content-boxes-wrapper">
        <?php 
        if(isset($this->boxes) && $this->boxes->count()>0)
        {
            foreach ($this->boxes as $key => $box) {
                if($box->IsContact==1)
                {
                    ?>
        <a href="mailto:<?php echo($box->MailContact);?>" class="contact box" style="background:url('<?php echo(\Globals::getConfig()->siteurl.\Globals::getConfig()->fileupload."/".$box->Ikona);?>') no-repeat center top">
                <span class="title"><?php echo($box->Nazwa);?></span>
                <div class="plus"></div>
            </a>    
                    <?php
                }
                else
                {
                     ?>
            <a href="<?php echo($this->layoutHelper()->prepareseoLink("page", $box->Id, "box"));?>" class="box" style="background:url('<?php echo(\Globals::getConfig()->siteurl.\Globals::getConfig()->fileupload."/".$box->Ikona);?>') no-repeat center top">
                <span class="title"><?php echo($box->Nazwa);?></span>
                <div class="plus"></div>
            </a>    
                    <?php
                }
                ?>         

                <?php
            }
        }
        ?>
    </div>
</div>
<div id="content-news">
    <div id="content-news-wrapper">
        <div id="news">
            <div id="news-header"><?php echo($this->translate("Z ostatniej chwili"));?></div>
        <?php 
        if(isset($this->news) && $this->news->count()>0)
        {
            foreach ($this->news as $key => $news) {
                ?>
            <a class="single-news" href="<?php echo($this->layoutHelper()->prepareseoLink("page", $news->Id, "news"));?>">
                <span class="news-title"><?php echo($news->Nazwa);?></span>
                <span class="news-short"><?php echo($news->Short);?></span>
            </a>
                <?php
            }
        }
        ?>
        </div>
        <div id="news-image">
            <img src="<?php echo(\Globals::getConfig()->siteurl."/gfx/news-image.png");?>" alt="" />
        </div>
    </div>
</div>
