 <?php
    if($this->error!=''){
        echo '<div id="error">'.$this->error.'</div>';
    }
    if($this->message!=''){
        echo '<div id="info">'.$this->message.'</div>';
    }
?>
     <div class="odstep"></div>
<form id="user" name="user" method="post" action="<?php echo $this->url('role', array('action'=>'dodaj'));?>">
    <label>
        <span>Nazwa</span>
        <input type="text" value="" required="required" name="Nazwa">
    </label>    
    <div class="odstep"></div>
    <input id="submitbutton" type="submit" value="Zapisz" name="submit">
</form>