

 <form action="<?php echo $this->url('role', array('action'=>'doprivileges','id'=>$rola[0]['id']));?>" method="post" name="uprawnienia">
        <?php
        $licznik=0;
        $licznikGlowny=1;
            foreach($uprawnienia as $k=>$p){?>
            <?php 
            $tmp=explode("\\", $k);
                echo('<h3 id="upr-'.$licznikGlowny.'" class="uprawnienia"> '.$tmp[2].' ('.$tmp[0].')<input type="checkbox" class="checkall" data-id="'.$licznikGlowny.'"/></h3>');
                echo('<div class="uprawnieniaKontener" id="uprawnienia-'.$licznikGlowny.'">');  
                foreach($p as $i=>$j){
             ?>
        
                  <label class="privileges" ><?php echo($i); ?> <input class="uprawnienie" type="checkbox" name="uprawnienie-<?php echo($licznik); ?>" value="<?php echo($k.','.$i); ?>"   <?php if(in_array(($k.','.$i), $uprawnieniaNow)){?> checked="checked"  <?php } ?>   /></label>
                <?php $licznik++; }
                 echo('</div>');  
                $licznikGlowny++;} ?>
  <div class="odstep"></div>                
  <input id="submitbutton" type="submit" value="Edytuj" name="submit">
</form> 


