<div class="odstep"></div>
<form id="rola" name="rola" method="post" action="<?php echo $this->url('role', array('action'=>'add'));?>">
    <input id="submitbutton" type="submit" value="Dodaj" name="submit">
</form>  
<div class="odstep"></div>
    <table id="uzytkownicy">
        <th>Id</th>
        <th>Rola</th>
        <th>Usuń</th>
     <?php    foreach ($role as $key => $row) { ?>
        <tr id="rola-<?php echo($row['id']); ?>" >
            <td><?php echo($row['id']); ?></td>      
            <td><a href="<?php echo $this->url('role', array('action'=>'edit', 'id'=>$row['id']));?>"><?php echo($row['rola']); ?></a></td>    
            <td><a class="delete" id="role-<?php echo($row['id']); ?>"></a></td>
        </tr>
     <?php  }   ?>
    </table>
