body{height: 100%; width: 100%; margin: 0px; padding: 0px; color:#000; text-align:left;  background: #fff; font-size:16px; font-family: arial, sans-serif;  background: url("../gfx/background.jpg");}
a{border:none; color:#000; text-decoration: none;}
img{border:none;}
header { width: 100%; display:table; float:left; background: url("../gfx/menu-background.jpg")repeat-x;}
.half{float: left; width:48%; margin-left:1%;}
.third{float: left; width:34% !important;display:block; position:relative;}
.twothird{float: left; width:66% !important;  display:block; position:relative;}
.red{color:#f00;}

header{float:left; display: block; position: relative; width:100%; margin-top:12px; height:139px;}
div#header-wrapper{position: relative; width:1173px; position: relative; display: table; background: url("../gfx/header.jpg")no-repeat center top; margin:0 auto; height:139px; -webkit-border-radius: 0 15px 0 0; -moz-border-radius: 0 15px 0 0;border-radius: 0 15px 0 0;}
a#logo{float:right; display: block; position: relative; height:79px; width:66%; background: url("../gfx/logo.jpg")no-repeat center center; margin-right: 6%; margin-top:35px;}
div#content-header{float:left; display: block; position: relative; width:100%;  height:123px;}
div#content-header-wrapper{position: relative; width:1173px; position: relative; display: table; background: url("../gfx/content-header.jpg")no-repeat center top; margin:0 auto; height:123px; z-index:90;}
a#home{float:left; display: block; position: relative; width:10%; padding-left:4%; height:37px; background: url("../gfx/home.png")no-repeat left center; margin:10px 0 0 26px; color:#fff; font-size:1.125em; line-height: 2.5em;}
div#phone-wrapper{float:right; display: block; position: relative; width:73%; margin-right:6%;}
div.phone{float:left; display: block; position: relative; margin:6px 4% 0 0;}
span.phone-name{float:left; display: block; position: relative; color:#fff; font-size:1.125em; margin-right:2px; line-height:1.78em;}
span.phone-number{float:left; display: block; position: relative; color:#fff; font-size:1.5em;}
div#content-boxes{float:left; display: block; position: relative; width:100%; z-index: 80;}
div#content-boxes-wrapper{position: relative; width:1200px; position: relative; display: table; background: url("../gfx/box-background.png")no-repeat center top; margin:0 auto; margin-top:-11px; padding-top:60px;  -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;}
a.box{float:left; display: block; position: relative; width:16%; height:107px; padding-bottom:18px; margin-right: 0.78%; margin-top:10px;}
a.box:nth-of-type(6n){margin-right:0;}
a.box.contact span.title{ display: block; position: relative; width:100%; text-align: center; color:#fff; font-size: 1.125em; margin-top:5px; padding:0;}
a.box span.title{ display: table-cell; position: relative; width:145px; height:85px; vertical-align: middle; text-align: center; color:#fff; font-size: 1.125em; margin-top:5px; padding-left:24.5px;}
div.plus{width:100%; position: absolute; left:0; bottom:0px; height:45px; background: url("../gfx/plus.png")no-repeat center center; }
div#content-news{float:left; display: block; position: relative; width:100%;}
div#content-news-wrapper{position: relative; width:1200px; position: relative; display: table;  margin:0 auto; margin-top:10px;  }
div#news{float:left; display: block; position: relative; width:61%; padding:10px 2% 80px 2%;  background: url("../gfx/news.png")no-repeat center top; background-size: 100% 100%; margin-top: 10px;}
div#news-header{float:left; display: block; position: relative; width:88%; margin-left:4%; padding-left:8%; color:#48384d; font-size:1.875em; border-bottom: 1px solid #45c6c6; background: url("../gfx/news-header.png")no-repeat left top; line-height: 1.5em;}
a.single-news{float:left; display: block; position: relative; width:78%; padding-left:4%; background: url("../gfx/info.png")no-repeat left top; margin-top:15px;}
span.news-title{float:left; display: block; position: relative; width:100%; color:#432f43; font-size:1.125em; font-weight: bold; line-height: 1.5em;}
span.news-short{float:left; display: block; position: relative; width:100%; color:#432f43; font-size:0.875em; line-height: 3em; background: url("../gfx/news-background.png")no-repeat right bottom;  }
div#news-image{float:left; display: block; position: relative; width: 34%; margin:10px 0 0 1%;}
div#news-image img{max-width:100%;}
footer{float:left; display: block; position: relative; width:100%; margin-top:12px; height:101px; background: url("../gfx/footer.png")no-repeat center top; }
div#footer-wrapper{position: relative; width:1200px; position: relative; display: table; margin:0 auto; height:101px;}
div#footer-left{float:left; display: block; position: relative; color:#fff; font-size:0.875em; margin-top:72px;}
div#footer-right{float:right; display: block; position: relative; color:#fff; font-size:0.875em; margin-top:72px;}
div#footer-right a{color:#fff;}
div#links{float:left; display: block; position: relative; width:14%;}
div#links a#home{ width:75%; padding-left:25%;}
div#links a#contact{float:left; display: block; position: relative; width:75%; padding-left:25%; height:37px; background: url("../gfx/contact.png")no-repeat left center; margin:10px 0 0 26px; color:#fff; font-size:1.125em; line-height: 2.5em;}
div#subpage{float:left; display: block; position: relative; width:100%; margin-top:-11px; z-index:80;}
div#subpage-wrapper{position: relative; width:1200px; position: relative; display: table;  margin:0 auto; -webkit-border-radius: 15px; -moz-border-radius: 15px;border-radius: 15px; background:#fff; }
div#subpage-wrapper nav{width:25%; float:left; display: block; position: relative; background: url("../gfx/nav.png")repeat-x left top; padding:20px 1.5% 0 1.5%; -webkit-border-radius: 15px; -moz-border-radius: 15px;border-radius: 15px;}
div#subpage-wrapper nav a{width:100%; float:left; display: block; position: relative; color:#fff; font-size:1em; line-height: 1.5em;}
div#subpage-wrapper nav a.active{text-decoration: underline;}
div#nav-image{width:100%; float:left; display: block; position: relative; text-align: center; margin-top:10px; margin-bottom: 10px;}
div#nav-image img{max-width:100%;}
div#subpage-content{width:68%; float:left; display: block; position: relative; margin:30px 2%;}
div#subpage-title{width:97%; float:left; display: block; position: relative; padding-left:3%; background: url("../gfx/title.png")no-repeat left top; font-size: 1.375em; color:#01548a; font-weight: bold; font-style: italic;}
div#subpage-text{width:100%; float:left; display: block; position: relative; font-size: 1em; color:#01548a; }
div.news{width:96%; float:left; display: block; position: relative; padding:20px 2% 0;}
div.news div.news-title{width:97%; float:left; display: block; position: relative; padding-left:3%; background: url("../gfx/title.png")no-repeat left top; font-size: 1.375em; color:#01548a; font-weight: bold; font-style: italic;}
div.news div.news-Opis{width:100%; float:left; display: block; position: relative; font-size: 1em; color:#01548a; }