<div class="wide" style="position:static;">
    <h3>Zarządzaj galerią</h3>
    
<?php
    if($this->error!=''){
        echo '<div id="error-validation">'.$this->error.'</div>';
    }
    if($this->message!=''){
        echo '<div id="info-validation">'.$this->message.'</div>';
    }
?>
  <a href="<?php echo($this->url($this->config['RouteName'],array('action'=>'edit', 'id'=>$this->id)));?>" id="back"><?php echo($this->translate("Powrót"));?></a>  
  <div class="container">

    <div class="upload_form_cont">
        <div id="dropArea">Przeciągnij i upuść, aby załadować pliki</div>

        <div class="info">
            <div>Pozostało plików: <span id="count">0</span></div>
            <div style="display:none;">Destination url: <input id="url" value="<?php echo $this->url($this->config['Gallery']['RouteName'], array('action'=>'upload', 'id'=>$this->id)); ?>"/></div>
          
            <div id="result"></div>
            <canvas width="500" height="20"></canvas>
        </div>
    </div>
</div>
    
    <div class="gallery">
        <?php
        if(isset($this->items) && $this->items->count()>0){
        ?>
            <ul class="sortable" id="sortable-<?php echo $this->config['RouteName'].'-'.$this->id; ?>">
                <?php
                foreach($this->items as $key => $item){
                ?>
                    <li class="sortable-item" id="item_<?php echo $item->Id; ?>" title="Przeciągnij i upuść, aby zmienić kolejność">
                        <span class="head"><?php echo substr($item->Name,0,20).(strlen($item->Name)>20?'...':''); ?><a class="gallery-delete" title="Usuń">x</a></span>
                        <img src="<?php echo \Globals::getConfig()->siteurl.\Globals::getConfig()->thumbupload.'/'.$item->Thumb; ?>" alt="" />
                        <span class="buttons">
                            <a class="gallery-edit edit" title="Edytuj"></a>                           
                            <a class="gallery-state <?php echo $item->State==1?'active':'inactive'; ?>" title="Zmień stan"><?php echo $item->State==1?'aktywny':'nieaktywny'; ?></a>
                        </span>
                    </li>
                <?php
                }
                ?>
            </ul>
        <?php
        }
        ?>
    </div>
    
    <div id="gallery-box">
        <form method="post" enctype="multipart/form-data" action="<?php echo $this->url($this->config['Gallery']['RouteName'], array('action'=>'upload')); ?>">
            <input type="hidden" value="" name="PictureId" id="gallery-id"/>
            <input type="hidden" value="<?php echo '*.jpg;*.gif;*.png;'; ?>" name="fileext"/>
            <label>
                <span>Opis</span>
                <textarea name="Description"></textarea>
            </label>           
            <input type="submit" name="submit" value="Zapisz"/>
            <a class="greybutton">Anuluj</a>
        </form>
    </div>
    <div id="gallery-desc">
        <h2>Opis</h2>
        <p></p>
        <a class="greybutton">Zamknij</a>
    </div>
           
</div>
<aside class="module">
    <?php
    if(is_array($this->leftMenu)){
        foreach ($this->leftMenu as $route => $name) {
    ?>
            <a href="<?php echo $this->url($route, array('action' => 'list')); ?>" <?php echo $route==$this->config['RouteName']?'class="active"':''; ?>><?php echo $name; ?><div class="post"></div></a>
    <?php      
        }
    }
    ?>
</aside>