<div id="content-header">
    <div id="content-header-wrapper">
        <div id="links">
            <a id="home" title="<?php echo($this->translate("Strona główna"));?>" href="<?php echo(\Globals::getConfig()->siteurl);?>"><?php echo($this->translate("Strona główna"));?></a>
            <a id="contact" title="<?php echo($this->translate("Napisz email"));?>" href="mailto:<?php echo($this->contact->MailContact);?>"><?php echo($this->translate("Napisz email"));?></a>
        </div>
        <div id="phone-wrapper">
            <?php 
            if(isset($this->phones) && $this->phones->count()>0)
            {
                foreach ($this->phones as $key => $phone) {
                    ?>
                <div class="phone">
                    <span class="phone-name"><?php echo($phone->Nazwa);?> TEL.: </span>
                    <span class="phone-number"><?php echo($phone->Telefon);?></span>
                </div>
                   
                    <?php
                }
            }
            ?>
        </div>
    </div>
</div>
<div id="subpage">
    <div id="subpage-wrapper">
        <nav>
            <?php 
            if(isset($this->boxes) && $this->boxes->count()>0)
        {
            foreach ($this->boxes as $key => $box) {            
                     ?>
            <a href="<?php echo($this->layoutHelper()->prepareseoLink("page", $box->Id, "box"));?>" class="<?php echo($this->id==$box->Id?'active':'inactive');?>">
               <?php echo($box->Nazwa);?>          
            </a>  
                <?php
            }
        }
            ?>
            <div id="nav-image">
                <img src="<?php echo(\Globals::getConfig()->siteurl."/gfx/nav-image.png");?>" alt="" />
            </div>
        </nav>
        <div id="subpage-content">
            <div id="subpage-title"><?php echo($this->box->Nazwa);?></div>
            <div id="subpage-text"><?php echo($this->box->Opis);?></div>
            <div class="photos">
                    <?php
                if(isset($this->photos)) { 
                   foreach($this->photos as $photo){
                       ?>
                   <a class="foto" href="<?php echo \Globals::getConfig()->siteurl.\Globals::getConfig()->pictureupload.'/'.$photo->File; ?>" data-gal="prettyPhoto[photos]" >
                       <?php 
                           if($photo->File!=''){
                       ?>
                           <img src="<?php echo \Globals::getConfig()->siteurl.\Globals::getConfig()->thumbupload.'/'.$photo->Thumb; ?>" alt=""/>
                       <?php
                           }
                       ?>

                   </a>
                       <?php
                   }
                }
                   ?>

            </div>
        </div>
    </div>
</div>