<div id="kalendarium-content">  
    <div id="kalendarium-header">
        <div id="title"><a href="<?php echo $this->url('page',array('action'=>'kalendarium'))?>"><?php echo($this->translate("Kalendarium"));?></a></div>
        <div id="calendar-tabs">
            <a class="<?php echo($this->year==1?"active":"");?>" href="<?php echo $this->url('page', array('action'=>'kalendarium','year'=>'1'));?>">1989</a>
            <a class="<?php echo($this->year==2?"active":"");?>" href="<?php echo $this->url('page', array('action'=>'kalendarium','year'=>'2'));?>">1990</a>
            <a class="<?php echo($this->year==3?"active":"");?>" href="<?php echo $this->url('page', array('action'=>'kalendarium','year'=>'3'));?>">1991</a>
        </div>
    </div>
    <?php 
    /*
     * wyświetlenie konkretnego wydarzenia
     */
    if($this->id>0)
    {
        $event = $this->event;
    ?>
        <div class="data-wydarzenia"><?php echo($event->Dzien." ".$this->layoutHelper()->polishMonth($event->Miesiac)." ".$this->layoutHelper()->year($event->Rok)." ".$this->translate("rok")); ?></div>
        <div class="event-title"><?php echo($event->Nazwa!=""?$event->Nazwa:"");?></div>
        <div class="event-description"><?php echo($event->Opis!=""?$event->Opis:"");?></div>
        <div class="event-source"><span><?php echo($this->translate("Źródło informacji: "));?></span><?php echo($event->Zrodlo!=""?$event->Zrodlo:"");?></div>
        <div class="event-elaboration"><span><?php echo($this->translate("Opracowanie informacji: "));?></span><?php echo($event->Opracowanie!=""?$event->Opracowanie:"");?></div>
        <?php  
            if(isset($this->photos) && is_array($this->photos)){
                ?>      
                    <div class="photos">
                        <?php
                        foreach($this->photos as $photo){ ?>
                        <a href="<?php echo \Globals::getConfig()->siteurl.\Globals::getConfig()->pictureupload.'/'.$photo['File']; ?>" data-gal="prettyPhoto[photos]" >
                            <?php 
                                if($photo['File']!=''){ ?>
                                <img src="<?php echo \Globals::getConfig()->siteurl.\Globals::getConfig()->thumbupload.'/'.$photo['Thumb']; ?>" alt="<?php echo ($photo['Description']!=''?$photo['Description']:''); ?>"/>
                        <?php } ?>
                        </a>
                <?php  } ?>
                    </div>
                <?php  } ?>
<?php    
    }
    /*
     * Lista wszystkich wydarzeń z konkretnego roku
     */
    elseif($this->rok)
    {
       echo('<div class="kalendarium-main-title">'.$this->translate('Wydarzyło się w ').' <span>'.$this->layoutHelper()->year($this->year).$this->translate(' roku').'</span></div>');
        if(isset($this->events) && count($this->events)>0)
        {
            foreach ($this->events as $key => $value) {
                ?>
                <div class="kalendarium-item">
                    <div class="date">
                        <?php 
                            echo($value['Dzien'].' '.$this->layoutHelper()->polishMonth($value['Miesiac']));                                               
                        ?>
                    </div>
                    <div class="kalendarium-item-title">
                        <a href="<?php echo($this->url('page',array('action'=>'kalendarium', 'id'=>$value['Id'], 'title'=>$this->layoutHelper()->stripznaki($value['Nazwa']))));?>"><?php echo($value['Nazwa']);?></a>
                    </div>
                </div>
            <?php
            }
        }
    }
    elseif($this->both)
        {
            echo('<div class="kalendarium-main-title">'.$this->translate('Wydarzyło się w ').'</div>');
            if(isset($this->events) && count($this->events)>0)
            {
                foreach ($this->events as $key => $value) {
                 if(is_array($value))
                    {
                    ?>
                    <div class="year"><?php echo($this->layoutHelper()->year($key+1).' '.$this->translate("roku"))?></div>
                    <?php 
                        foreach ($value as $k => $p) {
                            ?>
                            <div class="kalendarium-item">
                                <div class="date">
                                    <?php 
                                        echo($p['Dzien'].' '.$this->layoutHelper()->polishMonth($p['Miesiac']));                                               
                                    ?>
                                </div>
                                <div class="kalendarium-item-title">
                                    <a href="<?php echo($this->url('page',array('action'=>'kalendarium', 'id'=>$p['Id'], 'title'=>$this->layoutHelper()->stripznaki($p['Nazwa']))));?>"><?php echo($p['Nazwa']);?></a>
                                </div>
                            </div>    
                                
                                
                            <?php
                        }
                    
                    ?>
                    
                <?php
                }
              }
            }
        }
        elseif($this->month!='' && $this->year=='')
        {
            echo('<div class="kalendarium-main-title">'.$this->translate('Wydarzyło się w ').' <span>'.$this->layoutHelper()->kalendariummonth($this->month).'</span></div>');
            if(isset($this->events) && count($this->events)>0)
            {
                foreach ($this->events as $key => $value) {
                 if(is_array($value))
                    {
                    ?>
                    <div class="year"><?php echo($this->layoutHelper()->year($key+1).' '.$this->translate("roku"))?></div>
                    <?php 
                        foreach ($value as $k => $p) {
                            ?>
                            <div class="kalendarium-item">
                                <div class="date">
                                    <?php 
                                        echo($p['Dzien'].' '.$this->layoutHelper()->polishMonth($p['Miesiac']));                                               
                                    ?>
                                </div>
                                <div class="kalendarium-item-title">
                                    <a href="<?php echo($this->url('page',array('action'=>'kalendarium', 'id'=>$p['Id'], 'title'=>$this->layoutHelper()->stripznaki($p['Nazwa']))));?>"><?php echo($p['Nazwa']);?></a>
                                </div>
                            </div>    
                                
                                
                            <?php
                        }
                    
                    ?>
                    
                <?php
                }
              }
            }
        }
        elseif(isset($this->year) && isset($this->month))
        {
            echo('<div class="kalendarium-main-title">'.$this->translate('Wydarzyło się w ').' <span>'.$this->layoutHelper()->kalendariummonth($this->month).' '.$this->layoutHelper()->year($this->year).$this->translate(' roku').'</span></div>');
            if(isset($this->events) && count($this->events)>0)
            {
                foreach ($this->events as $key => $value) {
                    ?>
                    <div class="kalendarium-item">
                        <div class="date">
                            <?php 
                                echo($value['Dzien'].' '.$this->layoutHelper()->polishMonth($value['Miesiac']));                                               
                            ?>
                        </div>
                        <div class="kalendarium-item-title">
                            <a href="<?php echo($this->url('page',array('action'=>'kalendarium', 'id'=>$value['Id'], 'title'=>$this->layoutHelper()->stripznaki($value['Nazwa']))));?>"><?php echo($value['Nazwa']);?></a>
                        </div>
                    </div>
                <?php
                }
            }
        }
        else
        {
            echo('<div class="kalendarium-main-title">'.$this->translate('Wydarzyło się w ').'</div>');
            if(isset($this->events) && count($this->events)>0)
            {
                foreach ($this->events as $key => $value) {
                 if(is_array($value))
                    {
                    ?>
                    <div class="year"><?php echo($this->layoutHelper()->year($key+1).' '.$this->translate("roku"))?></div>
                    <?php 
                        foreach ($value as $k => $p) {
                            ?>
                            <div class="kalendarium-item">
                                <div class="date">
                                    <?php 
                                        echo($p['Dzien'].' '.$this->layoutHelper()->polishMonth($p['Miesiac']));                                               
                                    ?>
                                </div>
                                <div class="kalendarium-item-title">
                                    <a href="<?php echo($this->url('page',array('action'=>'kalendarium', 'id'=>$p['Id'], 'title'=>$this->layoutHelper()->stripznaki($p['Nazwa']))));?>"><?php echo($p['Nazwa']);?></a>
                                </div>
                            </div>    
                                
                                
                            <?php
                        }
                    
                    ?>
                    
                <?php
                }
              }
            }
        }
        
    ?>        
    <div id="kalendarium-bottom"> 
        <a class="button" href="<?php echo($this->link);?>"><?php echo($this->translate("powrót"));?></a>        <div id="main-kalendarium-search">
             <form name="input" method="post" action="<?php echo($this->url('page',array('action'=>'kalendarium')));?>">
                 <span id="search-text"><?php echo($this->translate("Wyszukaj Wydarzenia:"));?></span>
                 <div id="months">
                     <input type="hidden"  value="1" name="month">
                     <a class="arrow-down"></a>
                     <span class="search-event-month" id="event-year-1"><?php echo($this->translate("dowolny</br> miesiąc"))?></span>
                     <a class="arrow-up"></a>
                 </div>
                 <div id="years">
                     <input type="hidden"  value="1" name="year">
                     <a class="year-arrow-down"></a>
                     <span class="search-event-year" id="event-year-1"><?php echo($this->translate("wszystkie</br> lata"))?></span>
                     <a class="year-arrow-up"></a>
                 </div>
                 <input type="submit" value="">     
             </form> 
         </div>     
    </div>   
</div>