<div id="content-header">
    <div id="content-header-wrapper">
        <div id="links">
            <a id="home" title="<?php echo($this->translate("Strona główna"));?>" href="<?php echo(\Globals::getConfig()->siteurl);?>"><?php echo($this->translate("Strona główna"));?></a>
            <a id="contact" title="<?php echo($this->translate("Napisz email"));?>" href="mailto:<?php echo($this->contact->MailContact);?>"><?php echo($this->translate("Napisz email"));?></a>
        </div>
        <div id="phone-wrapper">
            <?php 
            if(isset($this->phones) && $this->phones->count()>0)
            {
                foreach ($this->phones as $key => $phone) {
                    ?>
                <div class="phone">
                    <span class="phone-name"><?php echo($phone->Nazwa);?> TEL.: </span>
                    <span class="phone-number"><?php echo($phone->Telefon);?></span>
                </div>
                   
                    <?php
                }
            }
            ?>
        </div>
    </div>
</div>
<div id="subpage">
    <div id="subpage-wrapper">
        <?php
        if(isset($this->news) && $this->news->count()>0)
        {
            foreach ($this->news as $key => $news) { 
                ?>
            <div class="news">
                <div class="news-title"><?php echo($news->Nazwa);?></div>
                <div class="news-Opis"><?php echo($news->Opis);?></div>
            </div>    
                <?php
            }
        }
        ?>
    </div>
</div>
