<?php
    if($this->id==0)//pozycja zerowa, podstrona o nas
    {
        echo('<div id="sublevel-content">');       
           
            echo('<div class="sublevel-title"><a href="'.$this->url('page',array('id'=>$this->prevpage->Id, 'title'=>$this->layoutHelper()->stripznaki($this->prevpage->Nazwa))).'">'.$this->prevpage->Nazwa.'</a></div>');
            echo('<div class="thirdlevel-title">'.$this->page->Nazwa.'</div>');               
            echo('<div class="sublevel-content">'.$this->page->Opis.'</div>');
            if(isset($this->seminaria) && count($this->seminaria)>0)
            {
                echo('<div id="seminaria-content">');
                foreach ($this->seminaria as $key => $seminarium) {
                    ?>
                    <div class="single-seminary">
                        <div class="count"><?php echo($key+1);?></div>    
                        <div class="seminarium-photo"><img src="<?php echo($seminarium['Image']!=""?\Globals::getConfig()->siteurl.\Globals::getConfig()->fileupload."/".$seminarium['Image']:\Globals::getConfig()->siteurl."/gfx/seminarium-no-photo.jpg");?>" alt="<?php echo($seminarium['Title']);?>"/></div>
                        <a class="right" href="<?php echo($this->url('page',array('id'=>$seminarium['Id'],'title'=>$this->layoutHelper()->stripznaki($seminarium['Title']),'action'=>'seminaria' ) ));?>">                                      
                            <div class="seminarium-title"><?php echo($seminarium['Title']);?></div>
                            <div class="seminarium-place"><?php echo($seminarium['Place']);?></div>                                   
                            <div class="seminarium-date"><?php echo($seminarium['Data']);?></div>                                   
                        </a>
                    </div>
                    <?php
                }
                echo('</div>');
            }
        echo('</div>');
 
    }
    else//podpoziomy
    { 
        echo('<div id="sublevel-content">');        
            echo('<div class="sublevel-title"><a href="'.$this->url('page',array('id'=>$this->prevpage->Id, 'title'=>$this->layoutHelper()->stripznaki($this->prevpage->Nazwa))).'">'.$this->prevpage->Nazwa.'</a></div>');
            $data = strtotime($this->subpage->Data);
            $day = date('d', $data);
            $restOfDate = date("m.Y", $data);
            echo('<div class="thirdlevel-title seminarium-title">'.$this->subpage->Title.'</div>'); 
            ?>
            <div id="dates">                
                <div class="event-date">
                    <div class="date-day">
                        <?php echo($day);?>
                    </div>
                    <div class="rest-of-date">
                        <?php echo($restOfDate);?>
                    </div>
                </div>
            </div>     
            <?php
            echo('<div id="seminarium-place">'.$this->subpage->Place.'</div>');  
            if($this->subpage->Description!='')
            echo('<div class="sublevel-content">'.$this->subpage->Description.'</div>');
            
              
                    if(is_array($this->files) && count($this->files)>0)
                    {
                        echo('<h1>'.$this->translate("Pliki do pobrania").'</h1>');
                        echo('<div id="files" class="seminary-file">');
                            foreach ($this->files as $key => $value) {
                                ?>
                                <a class="download" href="<?php echo($this->url('download',array('type'=>'seminaria','id'=>$value['Id'])));?>" ><?php echo($value['Nazwa']);?></a>
                            <?php
                            }
                        echo('</div>');
                    }          
            if(isset($this->photos) && is_array($this->photos)){
                ?>      
                    <div class="photos">
                        <?php
                        foreach($this->photos as $photo){ ?>
                        <a href="<?php echo \Globals::getConfig()->siteurl.\Globals::getConfig()->pictureupload.'/'.$photo['File']; ?>" data-gal="prettyPhoto[photos]" >
                            <?php 
                                if($photo['File']!=''){ ?>
                                <img src="<?php echo \Globals::getConfig()->siteurl.\Globals::getConfig()->thumbupload.'/'.$photo['Thumb']; ?>" alt="<?php echo ($photo['Description']!=''?$photo['Description']:''); ?>"/>
                        <?php } ?>
                        </a>
                <?php  } ?>
                    </div>
                <?php  } 
                ?>
                    
                    
                    <?php
            
        echo('</div>');
    }
    /*
    * menu dolne w przypadku trzeciego poziomu
    */
        
        if($this->issidemenu)
        {
        ?>
            <div id="donwmenu">
    <?php
       
                if(is_array($this->sidemenu)){ 
                    $activeContrast =  \Globals::getContrast();                    
                    foreach($this->sidemenu as $key => $value){
                        $background = "background: url('".\Globals::getConfig()->siteurl.\Globals::getConfig()->fileupload."/".(($value["IconBlackWhite"] && $activeContrast=="white-black")!=""?$value["IconBlackWhite"]:(($value['IconBlackYellow'] && $activeContrast=="black-yellow")!=""?$value['IconBlackYellow']:(($value['IconYellowBlack'] && $activeContrast=="yellow-black")!=""?$value['IconYellowBlack']:$value["Ikona"])))."') no-repeat 20px center;";
                        echo('<div class="sidemneu-link">');
                        if($value['PageId']!=0 || $value['Link']!='' || $value['CzyWydarzenia']!=0 || $value['CzyZasoby']!=0 || $value['CzyDysputy']!=0 || $value['CzyBadacz']!=0 || $value['CzyKatalog']!=0 || $value['CzyKontakt']!=0){
                        ?>    
                            <a class="<?php echo $value['CzyKatalog']==1?"zasoby":""?>" style="<?php echo $background ?>" href="<?php echo $value['Link']!=''? htmlspecialchars(stripslashes($value['Link'])):(($value['CzyWydarzenia']==1)?$this->url('page',array('action'=>'wydarzenia')):(($value['CzyZasoby']==1)?$this->url('page',array('action'=>'zasoby')):(($value['CzyZasoby']==1)?$this->url('page',array('action'=>'zasoby')):(($value['CzyKatalog']==1)?$this->url('page',array('action'=>'zasoby')):(($value['CzyZasoby']==1)?$this->url('page',array('action'=>'contact')):(($value['PageId']>0?$this->url('page', array('title'=>$this->layoutHelper()->stripZnaki($value['Nazwa']), 'id'=>$value['PageId'])):''))))))); ?>">
                        <?php
                        }else{
                            ?>
                            <span style="<?php echo $background ?>">
                            <?php
                        }
                        ?>
                            <?php echo $value['Nazwa']; 
                        if($value['PageId']!=0 || $value['Link']!='' || $value['CzyWydarzenia']!=0 || $value['CzyZasoby']!=0 || $value['CzyDysputy']!=0 || $value['CzyBadacz']!=0 || $value['CzyKatalog']!=0 || $value['CzyKontakt']!=0){?>   
                            </a>

                        <?php
                        }else{
                            ?>
                        </span>
                            <?php
                        }
                        echo('</div>');                
                    }
                }
            ?>
        </div>                    
        <?php
        }
?>