<?php
/*
 * Strona główna wydarzeń
 */
if($this->id==0 && $this->type==""){
echo('<div id="latestevent">');
    echo('<div class="sublevel-title">'.$this->translate("NAJNOWSZE WYDARZENIE").'</div>');
    if(isset($this->latestevent))
    {
        $latestevent = $this->latestevent;
        $data = strtotime($latestevent->Data);
        $adddata = strtotime($latestevent->DataDodania);
        $day = date('d', $data);
        $restOfDate = date("m.Y", $data);
        ?>
            <div class="event-date">
                <div class="date-day">
                    <?php echo($day);?>
                </div>
                <div class="rest-of-date">
                    <?php echo($restOfDate);?>
                </div>
            </div>
            <div class="event-name">
                <a href="<?php echo($this->url('page',array('action'=>'wydarzenia', 'id'=>$latestevent->Id,'title'=>$this->layoutHelper()->stripznaki($latestevent->Nazwa),'subjectid'=>$latestevent->Id) ));?>"><?php echo($latestevent->Nazwa);?></a>                
            </div>
            <div class="line">
                <div class="event-image">
                    <a href="<?php echo($this->url('page',array('action'=>'wydarzenia', 'id'=>$latestevent->Id,'title'=>$this->layoutHelper()->stripznaki($latestevent->Nazwa),'subjectid'=>$latestevent->Id) ));?>"> <img src="<?php echo($latestevent->Image!=""?\Globals::getConfig()->siteurl.\Globals::getConfig()->fileupload."/".$latestevent->Image:\Globals::getConfig()->siteurl."/gfx/event-no-image.jpg");?>" alt="<?php echo($latestevent->Nazwa);?>"/></a>
                </div>
                <div class="wydarzenie-short">
                    <?php echo($latestevent->Skrot);?> 
                    <div class="event-adddate">
                        <?php echo($this->translate("Dodano: ").date("d.m.Y",$adddata));?> 
                    </div>
                </div>
                <a class="more" href="<?php echo($this->url('page',array('action'=>'wydarzenia', 'id'=>$latestevent->Id,'title'=>$this->layoutHelper()->stripznaki($latestevent->Nazwa),'subjectid'=>$latestevent->Id) ));?>">
                    <?php echo($this->translate("czytaj więcej"));?>
                </a>
            </div>
    <?php
       
        
    }
echo('</div>');
echo('<div id="events-right">');
    echo('<div id="list-of-events-wrapper">');
        echo('<div id="list-of-events">');
            if(isset($this->events) && count($this->events)>0)
            {
                foreach ($this->events as $key => $value) 
                {
                    $data = strtotime($value['Data']);
                    $day = date('d', $data);
                    $restOfDate = date("m.Y", $data);
                    ?>
                    <div class="line line-event">
                        <div class="event-date">
                            <div class="date-day">
                                <?php echo($day);?>
                            </div>
                            <div class="rest-of-date">
                                <?php echo($restOfDate);?>
                            </div>
                        </div>
                        <div class="event-name">
                            <a href="<?php echo($this->url('page',array('action'=>'wydarzenia', 'id'=>$value['Id'],'title'=>$this->layoutHelper()->stripznaki($value['Nazwa'])) ));?>"><?php echo($value['Nazwa']);?></a>                
                        </div>
                    </div>            
                <?php
                }
            }
        echo('</div>');
    echo('</div>');
    echo('<div id="events-navigate">');
        ?>
        <a href="<?php echo($this->url('page',array('action'=>'wydarzenia', 'type'=>'list')));?>"><?php echo($this->translate("zobacz wszystkie"));?></a>  
        <a id="events-down"></a>
        <a id="events-up"></a>
    <?php       
    echo('</div>');
echo('</div>');
}
elseif($this->id==0 && $this->type=="list")
{
    echo('<div id="sublevel-content">');
        if(isset($this->events) && count($this->events)>0)
            {
                foreach ($this->events as $key => $value) 
                {
                    $data = strtotime($value['Data']);
                    $day = date('d', $data);
                    $restOfDate = date("m.Y", $data);
                    ?>
                    <div class="line single-event">
                        <div class="event-date">
                            <div class="date-day">
                                <?php echo($day);?>
                            </div>
                            <div class="rest-of-date">
                                <?php echo($restOfDate);?>
                            </div>
                        </div>
                        <div class="event-icon">
                            <a href="<?php echo($this->url('page',array('action'=>'wydarzenia', 'id'=>$value['Id'],'title'=>$this->layoutHelper()->stripznaki($value['Nazwa'])) ));?>"> <img src="<?php echo($value['Image']!=""?\Globals::getConfig()->siteurl.\Globals::getConfig()->fileupload."/".$value['Image']:\Globals::getConfig()->siteurl."/gfx/event-no-image.jpg");?>" alt="<?php echo($value['Nazwa']);?>" title="<?php echo($value['Nazwa']);?>"/></a>
                        </div>
                        <div class="event-right">
                            <div class="event-name">
                                <a href="<?php echo($this->url('page',array('action'=>'wydarzenia', 'id'=>$value['Id'],'title'=>$this->layoutHelper()->stripznaki($value['Nazwa'])) ));?>"><?php echo($value['Nazwa']);?></a>                
                            </div>
                            <div class="event-skrot">
                                <?php echo($value['Skrot']);?>
                            </div>
                        </div>
                        
                    </div>            
                <?php
                }
            }
    echo('</div>');
    /*
         * menu dolne w przypadku trzeciego poziomu
         */
        
        if($this->issidemenu)
        {
        ?>
            <div id="donwmenu">
    <?php
       
                if(is_array($this->sidemenu)){ 
                    $activeContrast =  \Globals::getContrast();                    
                    foreach($this->sidemenu as $key => $value){
                        $background = "background: url('".\Globals::getConfig()->siteurl.\Globals::getConfig()->fileupload."/".(($value["IconBlackWhite"] && $activeContrast=="white-black")!=""?$value["IconBlackWhite"]:(($value['IconBlackYellow'] && $activeContrast=="black-yellow")!=""?$value['IconBlackYellow']:(($value['IconYellowBlack'] && $activeContrast=="yellow-black")!=""?$value['IconYellowBlack']:$value["Ikona"])))."') no-repeat 20px center;";
                        echo('<div class="sidemneu-link">');
                        if($value['PageId']!=0 || $value['Link']!='' || $value['CzyWydarzenia']!=0 || $value['CzyZasoby']!=0 || $value['CzyDysputy']!=0 || $value['CzyBadacz']!=0 || $value['CzyKatalog']!=0 || $value['CzyKontakt']!=0){
                        ?>    
                            <a class="<?php echo $value['CzyKatalog']==1?"zasoby":""?>" style="<?php echo $background ?>" href="<?php echo $value['Link']!=''? htmlspecialchars(stripslashes($value['Link'])):(($value['CzyWydarzenia']==1)?$this->url('page',array('action'=>'wydarzenia')):(($value['CzyZasoby']==1)?$this->url('page',array('action'=>'zasoby')):(($value['CzyZasoby']==1)?$this->url('page',array('action'=>'zasoby')):(($value['CzyKatalog']==1)?$this->url('page',array('action'=>'zasoby')):(($value['CzyZasoby']==1)?$this->url('page',array('action'=>'contact')):(($value['PageId']>0?$this->url('page', array('title'=>$this->layoutHelper()->stripZnaki($value['Nazwa']), 'id'=>$value['PageId'])):''))))))); ?>">
                        <?php
                        }else{
                            ?>
                            <span style="<?php echo $background ?>">
                            <?php
                        }
                        ?>
                            <?php echo $value['Nazwa']; 
                        if($value['PageId']!=0 || $value['Link']!='' || $value['CzyWydarzenia']!=0 || $value['CzyZasoby']!=0 || $value['CzyDysputy']!=0 || $value['CzyBadacz']!=0 || $value['CzyKatalog']!=0 || $value['CzyKontakt']!=0){?>   
                            </a>

                        <?php
                        }else{
                            ?>
                        </span>
                            <?php
                        }
                        echo('</div>');                
                    }
                }
            ?>
        </div>                    
        <?php
        }
}
elseif($this->id!=0)
{
    echo('<div id="sublevel-content">');
        echo('<div class="sublevel-title"><a href="'.$this->url('page',array('action'=>'wydarzenia', 'type'=>'list')).'">'.$this->translate('Wydarzenia').'</a></div>');
        echo('<div class="thirdlevel-title-event">'.$this->event->Nazwa.'</div>');       
        $data = strtotime($this->event->Data);
        $adddata = strtotime($this->event->DataDodania);
        $day = date('d', $data);
        $restOfDate = date("m.Y", $data);
        ?>
        <div id="dates">
            <div class="single-event-adddate">
                <?php echo($this->translate("Dodano: ").date("d.m.Y",$adddata));?> 
            </div>
            <div class="event-date">
                <div class="date-day">
                    <?php echo($day);?>
                </div>
                <div class="rest-of-date">
                    <?php echo($restOfDate);?>
                </div>
            </div>
        </div>   
        <div class="event-picture"><img src="<?php echo($this->event->Image!=""?\Globals::getConfig()->siteurl.\Globals::getConfig()->fileupload."/".$this->event->Image:\Globals::getConfig()->siteurl."/gfx/event-no-image.jpg");?>" alt="<?php echo($this->event->Nazwa);?>"/></div>     
        <div class="event-opis">
            <?php echo($this->event->Opis);?>
        </div>
<?php
            if(isset($this->photos) && is_array($this->photos)){
                ?>      
                    <div class="photos">
                        <?php
                        foreach($this->photos as $photo){ ?>
                        <a href="<?php echo \Globals::getConfig()->siteurl.\Globals::getConfig()->pictureupload.'/'.$photo['File']; ?>" data-gal="prettyPhoto[photos]" >
                            <?php 
                                if($photo['File']!=''){ ?>
                                <img src="<?php echo \Globals::getConfig()->siteurl.\Globals::getConfig()->thumbupload.'/'.$photo['Thumb']; ?>" alt="<?php echo ($photo['Description']!=''?$photo['Description']:''); ?>"/>
                        <?php } ?>
                        </a>
                <?php  } ?>
                    </div>
                <?php  } ?>
                <div id="artivle-navigate">
                    <a class="button prev" <?php echo($this->prev?"href=".$this->url('page',array('id'=>$this->prev->Id,'action'=>'wydarzenia','title'=>$this->layoutHelper()->stripznaki($this->prev->Nazwa))):"");?>>poprzedni</a>
                    <a class="button center" href="<?php echo($this->url('page',array('action'=>'wydarzenia', 'type'=>'list')));?>">wróć do spisu</a>
                    <a class="button next" <?php echo($this->next?"href=".$this->url('page',array('id'=>$this->next->Id,'action'=>'wydarzenia','title'=>$this->layoutHelper()->stripznaki($this->next->Nazwa))):"");?>>następny</a>
                </div>    
                    
                <?php 
                
    echo('</div>');
    if($this->issidemenu)
        {
        ?>
            <div id="donwmenu">
    <?php
       
                if(is_array($this->sidemenu)){ 
                    $activeContrast =  \Globals::getContrast();                    
                    foreach($this->sidemenu as $key => $value){
                        $background = "background: url('".\Globals::getConfig()->siteurl.\Globals::getConfig()->fileupload."/".(($value["IconBlackWhite"] && $activeContrast=="white-black")!=""?$value["IconBlackWhite"]:(($value['IconBlackYellow'] && $activeContrast=="black-yellow")!=""?$value['IconBlackYellow']:(($value['IconYellowBlack'] && $activeContrast=="yellow-black")!=""?$value['IconYellowBlack']:$value["Ikona"])))."') no-repeat 20px center;";
                        echo('<div class="sidemneu-link">');
                        if($value['PageId']!=0 || $value['Link']!='' || $value['CzyWydarzenia']!=0 || $value['CzyZasoby']!=0 || $value['CzyDysputy']!=0 || $value['CzyBadacz']!=0 || $value['CzyKatalog']!=0 || $value['CzyKontakt']!=0){
                        ?>    
                            <a class="<?php echo $value['CzyKatalog']==1?"zasoby":""?>" style="<?php echo $background ?>" href="<?php echo $value['Link']!=''? htmlspecialchars(stripslashes($value['Link'])):(($value['CzyWydarzenia']==1)?$this->url('page',array('action'=>'wydarzenia')):(($value['CzyZasoby']==1)?$this->url('page',array('action'=>'zasoby')):(($value['CzyZasoby']==1)?$this->url('page',array('action'=>'zasoby')):(($value['CzyKatalog']==1)?$this->url('page',array('action'=>'zasoby')):(($value['CzyZasoby']==1)?$this->url('page',array('action'=>'contact')):(($value['PageId']>0?$this->url('page', array('title'=>$this->layoutHelper()->stripZnaki($value['Nazwa']), 'id'=>$value['PageId'])):''))))))); ?>">
                        <?php
                        }else{
                            ?>
                            <span style="<?php echo $background ?>">
                            <?php
                        }
                        ?>
                            <?php echo $value['Nazwa']; 
                        if($value['PageId']!=0 || $value['Link']!='' || $value['CzyWydarzenia']!=0 || $value['CzyZasoby']!=0 || $value['CzyDysputy']!=0 || $value['CzyBadacz']!=0 || $value['CzyKatalog']!=0 || $value['CzyKontakt']!=0){?>   
                            </a>

                        <?php
                        }else{
                            ?>
                        </span>
                            <?php
                        }
                        echo('</div>');                
                    }
                }
            ?>
        </div>                    
        <?php
        }
}
?>
<div id="dialog" style="display: none;" title="Confirmation Required">
	Katalog zasobów on-line jest katalogiem pełniącym funkcję katalogu poglądowego. Obrazy dokumentów, które prezentują administratorzy portalu, tj. dokumenty aktowe, nagrania audio, nagrania wideo, eksponaty, fotografie, można wykorzystywać tylko i wyłącznie na potrzeby poszerzenia swojej wiedzy. Nie wolno rozpowszechniać, publikować, powielać i w jakikolwiek inny sposób wykorzystywać obrazów źródeł i ich treści bez zgody administratorów strony i właściciela zbiorów. Przy korzystaniu z katalogu Zasobów on-line, należy stosować się do zasad przeprowadzania kwerend zgodnych z instrukcjami archiwalnymi i regulaminami: Archiwum Senatu, Archiwum Prezydenta RP, a także z przepisami prawa, tj. ustawy z dnia 14 lipca 1983 r. o narodowym zasobie archiwalnym i archiwach, ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych, ustawy z dnia 4 lutego 1994 r. o prawie autorskim i prawach pokrewnych, i innymi normami obowiązującego prawa regulującego m.in. korzystanie i wykorzystywanie zasobów bibliotecznych, muzealnych i innych.
	<div id="hope">Archiwum Senatu i Archiwum Prezydenta RP zachęcają do korzystania z katalogu zasobów on-line i są przekonane, iż korzystanie z katalogu internetowego zbiorów będzie dla użytkownika łatwe, proste i przyjemne.  </div>
</div>