<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle(Globals::getConfig()->frontendtitle.(isset($this->MetaTitle)?' - '.$this->MetaTitle:''))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php 
        
        echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0');
        
        /**
         * metatagi wstrzykiwane przez moduły
         */
        if(isset($this->MetaDescription)){
            echo $this->headMeta()->appendName('description', $this->MetaDescription);
        }
        
        if(isset($this->MetaKeywords)){
            echo $this->headMeta()->appendName('description', $this->MetaKeywords);
        }
        
        
        ?>

        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/gfx/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/lib/jquery/booklet/jquery.booklet.latest.css')
                        ->prependStylesheet($this->basePath() . '/lib/jquery/video-js.css')
                        ->prependStylesheet($this->basePath() . '/css/style-ie.css', 'screen', 'lte IE 8')
                        ->prependStylesheet($this->basePath() . '/lib/jquery/prettyPhoto.css')
                        ->prependStylesheet($this->basePath() . '/lib/jquery/prettyPhoto.css')                        
                        ->prependStylesheet($this->basePath() . '/lib/jquery/jquery-ui-1.10.2.custom.min.css')
                        ->prependStylesheet('http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,latin-ext')
                        ->prependStylesheet('http://fonts.googleapis.com/css?family=EB+Garamond&subset=latin,latin-ext' );
        ?>
                
        <!--[if !IE]><!--><script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script><!--<![endif]-->
        <!--[if gt IE 8]><script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script><![endif]-->
        <!--[if lte IE 8]>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
        <![endif]-->
        
        <?php echo $this->headScript()->prependFile($this->basePath() . '/js/jsscript.js')
                                      ->prependFile('http://maps.googleapis.com/maps/api/js?sensor=true')      
                                      ->prependFile($this->basePath() . '/lib/jquery/jquery.prettyPhoto.js')
                                      ->prependFile($this->basePath() . '/lib/jquery/jquery-cookie.js')                                
                                      ->prependFile($this->basePath() . '/lib/jquery/jquery-timer.js')
                                      ->prependFile($this->basePath() . '/lib/jquery/js-webshim/dev/polyfiller.js')
                                      ->prependFile($this->basePath() . '/lib/jquery/js-webshim/minified/extras/modernizr-custom.js')
                                      ->prependFile($this->basePath() . '/lib/jquery/browser-port.js')
                                      ->prependFile('//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js');
                ?>
        
    </head>

   
<body> 
    <header>
        <div id="header-wrapper">
            <a id="logo" href="<?php echo(\Globals::getConfig()->siteurl);?>"></a>
        </div>
    </header>
  <?php echo $this->content;?>
    <footer>
        <div id="footer-wrapper">
            <div id="footer-left">Copyright SM CENTRUM</div>
            <div id="footer-right">Projekt <a href="http://www.gm-net.com.pl">GM-NET</a> Wykonanie <a href="http://www.cered.com.pl">cered</a></div>
        </div>
    </footer> 
</body>
</html>