<div id="wrapper">  
    <div id="content">
        <div id="content-tresc">

    <?php
        if($this->error!=''){
            echo '<div class="error">'.$this->translate($this->error).'</div>';
        }
    ?>

</div>