body {
	font: 12px/16px Arial, Helvetica, sans-serif;
}
#fileQueue {
	float: left;
        /*width: 600px;*/
        width:80%;
	height: 54px;
	overflow: auto;
	border: 1px solid #aaa;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
	margin-bottom: 10px;
	margin:0 auto;
	text-align:center;
        background: #fff;
}
aside.gallery-side #fileQueue{width: 100%;}
.uploadifyQueueItem {
	font: 11px Verdana, Geneva, sans-serif;
	border: 2px solid #E5E5E5;
	background-color: #F5F5F5;
	margin-top: 5px;
	padding: 10px;
	width: 91.5%;
	margin:0 auto;
}
.uploadifyError {
	border: 2px solid #FBCBBC !important;
	background-color: #FDE5DD !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyProgress {
	background-color: #FFFFFF;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	width: 1px;
	height: 3px;
}
.cancelAllUploads {margin-left:130px; text-decoration:none; font-weight:bold; font-size:12px; color:#000;}
.cancelAllUploads:hover {color:#67A71B;}

#uploadifyUploader {margin-left:10px;}
p#upi{width:auto; float:left;}