<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle(Globals::getConfig()->title)->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/gfx/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/style-ie.css', 'screen', 'lte IE 8')
                        ->prependStylesheet('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700&subset=latin,latin-ext');
        ?>

        <?php echo $this->headScript()->prependFile($this->basePath() . '/js/jsscript.js')
                                      ->prependFile($this->basePath() . '/lib/jquery/js-webshim/minified/polyfiller.js')
                                      ->prependFile($this->basePath() . '/lib/jquery/js-webshim/minified/extras/modernizr-custom.js')
                                      ->prependFile('//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
                ?>

    </head>
    <body>     
        <?php 
    if($this->error!=''){?>
               <div class="error"><?php echo $this->error;   ?></div> 
 <?php    }
?>

    <div id="login-panel-wrapper" <?php if($this->error!=''){?>  style="margin-top:50px;"   <?php  } ?>  >
       <?php 



    $form->prepare();
    $form->setAttribute('action', $this->url('users',array('action'=>'login')));
    echo $this->form()->openTag($form);
    echo $this->formRow($form->get('login'));
    echo $this->formRow($form->get('password'));
    echo $this->formSubmit($form->get('submit'));
    echo $this->form()->closeTag();


       ?>
    </div>
        
        <footer class="login">
            <div id="footer-wrapper">
                <p>CMS v <?php echo \Globals::getConfig()->version; ?> &copy; <?php echo (\Globals::getConfig()->year==date("Y")?date("Y"):\Globals::getConfig()->year.' - '.date("Y")); ?> by <a href="http://cered.pl">ideowski.pl</a></p>
            </div>
        </footer>
        
    </body>
</html>
