<?php echo $this->doctype(); ?>
 <?php     $loggedIn = \Globals::ifLoggedIn();  ?>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle(Globals::getConfig()->title)->setSeparator(' - ')->setAutoEscape(false) ?>
   
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0, maximum-scale=1'); ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))                          
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/lib/jquery/jquery-ui-1.10.2.custom.min.css')               
                        ->prependStylesheet($this->basePath() . '/lib/jquery/jquery.colorpicker.css')
                        ->prependStylesheet('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic&subset=latin,latin-ext' )
                        ->prependStylesheet('http://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic&subset=latin,latin-ext' );?>

        <!-- Scripts -->

        <?php echo $this->headScript()->prependFile($this->basePath() . '/js/jsscript.js')
                                      ->prependFile($this->basePath() . '/js/script.js')
                                      ->prependFile($this->basePath() . '/lib/jquery/jquery-ui-timepicker-addon.js')
                                      ->prependFile('http://maps.googleapis.com/maps/api/js?sensor=true') 
                                      ->prependFile($this->basePath() . '/lib/jquery/jquery.colorpicker.js')
                                      ->prependFile($this->basePath() . '/lib/jquery/jquery-cookie.js')
                                      ->prependFile($this->basePath() . '/lib/jquery/js-webshim/dev/polyfiller.js')
                                      ->prependFile($this->basePath() . '/lib/jquery/js-webshim/minified/extras/modernizr-custom.js')                           
                                      ->prependFile($this->basePath() . '/lib/tinymce/tiny_mce.js')
                                      ->prependFile($this->basePath() . '/lib/jquery/browser-port.js')
                                      ->prependFile('//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
                                      ->prependFile('//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
                ?>
    </head>
    <body <?php if($loggedIn==true){ ?> class="loggedin" <?php } ?>>
        <?php if($loggedIn!=true){ ?> <div id="header">
            <div id="header-wrapper">
             <div id="title"><?php echo $this->translate('CMS CERED') ?></div> 

            </div>
        </div> <?php } ?>
        
                 <?php if($loggedIn==true){ ?>
                     <nav>
                            <div id="nav-wrapper">
                               <?php
                                    $acl = \Globals::getACL();
                                    $sesja=new \Zend\Session\Container();
                                ?>
                                  
                                <ul class="menuUL">
                                       <li id="home" style="padding-bottom:10px;"><a href="<?php echo $this->url('home') ?>"><img src="<?php echo(Globals::getConfig()->siteurl); ?>/cms/gfx/home.png" alt=""/></a></li>
                                      <li>
                                           <a><?php echo $this->translate('Administracja') ?></a>
                                            <ul class="sub">
                                            <?php  if($acl->isAllowed($sesja->rola, 'Users\Controller\Users,list')){ ?>
                                                <li class="sub2"><a href="<?php echo $this->url('role',array('action'=>'list')) ?>"><?php echo $this->translate('Role') ?></a></li> <?php } if($acl->isAllowed($sesja->rola, 'Users\Controller\Role,list')){ ?>
                                                <li class="sub2"><a href="<?php echo $this->url('users',array('action'=>'list')) ?>"><?php echo $this->translate('Użytkownicy') ?></a></li>
                           <?php }?>
                                            </ul>                                       
                                       </li>
                                       <li>
                                           <a><?php echo $this->translate('Moduły') ?></a>
                                           <ul class="sub">
                                        <?php if($acl->isAllowed($sesja->rola, 'Kontakty\Controller\Kontakty,list')){ ?>               
                                                       <li class="sub2"><a href="<?php echo $this->url('kontakty',array('action'=>'list')) ?>"><?php echo $this->translate('Kontakty') ?></a></li>
                                                <?php } 
                                         if($acl->isAllowed($sesja->rola, 'Boxy\Controller\Boxy,list')){ ?>               
                                                       <li class="sub2"><a href="<?php echo $this->url('boxy',array('action'=>'list')) ?>"><?php echo $this->translate('Boxy') ?></a></li>
                                                <?php } 
                                         if($acl->isAllowed($sesja->rola, 'News\Controller\News,list')){ ?>               
                                                       <li class="sub2"><a href="<?php echo $this->url('news',array('action'=>'list')) ?>"><?php echo $this->translate('Aktualności') ?></a></li>
                                                <?php } ?>
                                            </ul>                                       
                                        </li>
                                       
                                </ul>        
                              <a id="logout" href="<?php echo $this->url('users',array('action'=>'logout')) ?>"><?php echo($this->translate("Wyloguj"));?></a>
               <?php
                if(\Globals::getConfig()->langs!=''){
                    $langArray = \Globals::getLangs();
                      if(count($langArray)>1){ 
                ?>
                        <div id="lang-controls">
                            <?php
                                $tmpArr = array();
                                    foreach($langArray as $key=>$value){
                                        if($value==\Globals::getLang()){
                                            if($key>0){
                                                $tmpArr[$key] = $tmpArr[0];
                                            }
                                            $tmpArr[0] = $value;
                                        }else{
                                            $tmpArr[$key]=$value;
                                        }
                                    }
                                    foreach($tmpArr as $key=>$lang){ ?>
                                        <ul>
                                            <li><a href="<?php echo $this->url('lang', array('id'=>$lang)); ?>" class="<?php echo $lang.($key==0?' active':''); ?>"><?php echo strtoupper($lang); ?></a></li>
                                        </ul>
                            <?php
                                    }
                            ?>
                        </div>
            <?php 
                           }
             }
               
               ?>
            
                            </div>
            </nav>
                 <?php } ?>
    
         
        <div id="content">
            <div id="content-wrapper">
              
              
              <?php  echo $this->content; ?>
                
                
            </div>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
        <footer style=" <?php echo( $loggedIn!=true?'background:none;':'')?>">
            <div id="footer-wrapper" >
                <p>Cered CMS v <?php echo \Globals::getConfig()->version; ?> &copy; <?php echo (\Globals::getConfig()->year==date("Y")?date("Y"):\Globals::getConfig()->year.' - '.date("Y")); ?> by <a href="http://cered.pl" style="color:#458E0B;">www.cered.pl</a></p>
            </div>
        </footer>
    </body>
</html>
