<?php
$form = $this->form;

$form->setAttribute('action', $this->url($this->config['RouteName'], array('action' => 'dodaj', $this->id==0?:'id'=>$this->id)));//ustawienie akcji fromularza
$form->prepare();//znacznik ZF2 pzygotowujący formularz

    if($this->error!=''){
        echo '<div id="error-validation">'.$this->error.'</div>';//wyświetlanie błędów
    }
    if($this->message!=''){
        echo '<div id="info-validation">'.$this->message.'</div>';//wyświetlanie wiadomości
    }

echo $this->form()->openTag($form);//znacznik ZF2 otwierający formularz
if($this->config['ListType']=='tree'){//drzewko - dodać wybór rodzica
        echo $this->formRow($form->get('PrevId'));
    }
if(is_array($this->config['Pola'])){
    $lon="";
    $lat="";
    $isMapRender=false;
        foreach ($this->config['Pola'] as $name => $field) {//pętla fo zadeklarownych polach
            if($field['Form']){//jeżeli ma być wyświetlony w formie
                if($field['FormType']=='lat'){   
                    $lat = "52.23536933191899";   
                    $form->get($name)->setValue("52.23536933191899"); 
                    echo $this->formRow($form->get($name)->setAttribute("class", "latitude"));  
                }else if($field['FormType']=='lon'){
                    $lon = "21.009292602539062";   
                    $form->get($name)->setValue("21.009292602539062");
                    echo $this->formRow($form->get($name)->setAttribute("class", "longitude"));
                }
                else
                {                    
                    echo $this->formRow($form->get($name));    
                }
                if($lat!="" && $lon!="" && !$isMapRender)
                {
                    $isMapRender = true;
                    ?>
                    <div id="map"></div>
                <?php                 
                }           
            }
        }
        /*
         * seo friendly link
         */
        if(is_array($this->config['Seo']))
            {?>
            <label>
                <span><?php echo($this->translate("Link seo firendly"));?></span>
                <input type="text" name="seo" value="<?php echo($this->seolink!=""?$this->seolink:"");?>">
            </label>
            <?php }
    }    
echo $this->formSubmit($form->get('submit'));//przycisk zatwierdzający
        
    echo $this->form()->closeTag();    //znacznik zamykający formularz
?>