
<?php
$form = $this->form;

$form->setAttribute('action', $this->url($this->config['RouteName'], array('action' => 'edytuj','id'=>$this->item->getId())));
$form->prepare();


    if($this->error!=''){
        echo '<div id="error-validation">'.$this->error.'</div>';
    }
    if($this->message!=''){
        echo '<div id="info-validation">'.$this->message.'</div>';
    }


echo $this->form()->openTag($form);
if($this->config['ListType']=='tree'){//drzewko - dodać wybór rodzica
        echo $this->formRow($form->get('PrevId'));
    }
if(is_array($this->config['Pola'])){
    $lon="";
    $lat="";
    $isMapRender=false;
        foreach ($this->config['Pola'] as $name => $field) {
            if($field['Form']){
                if($field['FormType']=='file' && $this->item->Pola[$name]['value']!=''){//plik - dodać podgląd i link do usuwania
                    echo('<div class="graphics-content">');
                        echo $this->formRow($form->get($name));
                        echo '<label class="graphics-label">';                 
                         if($field['ImgMaxSize']!=null && $field['ImgMinSize']!=null){//plik graficzny                         
                             echo '<div class="icon-file"><img src="'.\Globals::getConfig()->siteurl.\Globals::getConfig()->fileupload.'/'.$this->item->Pola[$name]['value'].'" alt=""/></div>';
                        }else{
                            echo '<div class="min-file inactive"><a href="'.\Globals::getConfig()->siteurl.\Globals::getConfig()->fileupload.'/'.$this->item->Pola[$name]['value'].'">pobierz</a></div>';
                        }

                        echo '<a class="del-file" id="del-'.$this->config['RouteName'].'-'.$name.'-'.$this->item->Id.'" title="Usuń plik">x</a>';
                        echo '</label>';
                    echo('</div>');
                    
                }else if($field['FormType']=='lat'){                                      
                    $lat = $this->item->Pola[$name]['value'];   
                    if($this->item->Pola[$name]['value']=="")
                    {
                        $lat = "52.23536933191899";   
                        $form->get($name)->setValue("52.23536933191899");                        
                    }
                    echo $this->formRow($form->get($name)->setAttribute("class", "latitude"));  
                }else if($field['FormType']=='lon'){                    
                    $lon = $this->item->Pola[$name]['value'];   
                    if($this->item->Pola[$name]['value']=="")
                    {
                        $lon = "21.009292602539062";   
                        $form->get($name)->setValue("21.009292602539062");
                    }
                    echo $this->formRow($form->get($name)->setAttribute("class", "longitude"));
                }else{
                    echo $this->formRow($form->get($name)); 
                }
                if($lat!="" && $lon!="" && !$isMapRender)
                {
                    $isMapRender = true;
                    ?>
                    <div id="map"></div>
                <?php                 
                }
            }
        }
        /*
         * seo friendly link
         */
        if(is_array($this->config['Seo']))
            {?>
            <label>
                <span><?php echo($this->translate("Link seo firendly"));?></span>
                <input type="text" name="seo" value="<?php echo($this->seolink!=""?$this->seolink:"");?>">
            </label>
            <?php }
        
    }
   
	/*
	* Gallery
	*/
if($this->config['Gallery']){
	echo('<label>');
		echo('<span><a style="color:#22B717;" href="'. $this->url($this->config['RouteName'], array('action' => 'gallery','id'=>$this->item->getId())).'">Galeria zdjęć</a></span>');
		echo('<a id="galeria" title="Galeria" href="'. $this->url($this->config['RouteName'], array('action' => 'gallery','id'=>$this->item->getId())).'"></a>');
	echo('</label>');
}
echo $this->formSubmit($form->get('submit'));
        
    echo $this->form()->closeTag();    
?>

    <div id="postinfo">
        <?php 
        if(isset($this->edituser))
        {
            echo("<p>");
                echo($this->translate("Wpis ostatnio edytowany dnia: ".date("Y-m-d H:i:s", strtotime($this->editingDate))." przez użytkownika: ".$this->edituser->username." ".$this->edituser->imie." ".$this->edituser->nazwisko));
            echo("</p>");
        }
        if(isset($this->adduser))
        {
            echo("<p>");
                echo($this->translate("Wpis dodany dnia: ".date("Y-m-d H:i:s", strtotime($this->addingDate))." przez użytkownika: ".$this->adduser->username." ".$this->adduser->imie." ".$this->adduser->nazwisko));
            echo("</p>");
        }        
            ?>
    </div>    
  
