<?php
        $acl = \Globals::getACL();
        $sesja=new \Zend\Session\Container();
        
      if($acl->isAllowed($sesja->rola, 'Users\Controller\Users,list')){
    ?>
        <div class="button-big users"><a href="<?php echo $this->url('users', array('action'=>'list'));?>"><span> Użytkownicy</span></a></div>
    <?php } 
    
    
    if($acl->isAllowed($sesja->rola, 'Users\Controller\Role,list')){
    ?>
            <div class="button-big role"><a href="<?php echo $this->url('role', array('action'=>'list'));?>"><span>Role</span></a></div>
            
     <?php } if($acl->isAllowed($sesja->rola, 'Kontakty\Controller\Kontakty,list')){?>
         <div class="button-big contact"><a href="<?php echo $this->url('kontakty', array('action'=>'list'));?>"><span>Kontakty</span></a></div>
     <?php }  
      if($acl->isAllowed($sesja->rola, 'Boxy\Controller\Boxy,list')){?>
         <div class="button-big boxes"><a href="<?php echo $this->url('boxy', array('action'=>'list'));?>"><span>Boxy</span></a></div>
     <?php }
     if($acl->isAllowed($sesja->rola, 'News\Controller\News,list')){?>
         <div class="button-big news"><a href="<?php echo $this->url('news', array('action'=>'edit'));?>"><span>Aktualności</span></a></div>
     <?php } ?>  




