<?php
        $acl = \Globals::getACL();
        $sesja=new \Zend\Session\Container();
        
     if($acl->isAllowed($sesja->rola, 'Newslettergroup\Controller\Newslettergroup,list')){?>
         <div class="button-big group"><a href="<?php echo $this->url('newslettergroup', array('action'=>'list'));?>"><span><?php echo($this->translate("Grupy")); ?></span></a></div>
     <?php } 
     if($acl->isAllowed($sesja->rola, 'Newslettermessage\Controller\Newslettermessage,list')){?>
         <div class="button-big messages"><a href="<?php echo $this->url('newslettermessage', array('action'=>'list'));?>"><span><?php echo($this->translate("WIadomości")); ?></span></a></div>
     <?php } ?>  




