 <?php
    if($this->error!=''){
        echo '<div id="error">'.$this->error.'</div>';
    }
    if($this->message!=''){
        echo '<div id="info">'.$this->message.'</div>';
    }
?>
     <div class="odstep"></div>
<form id="user" name="user" method="post" action="<?php echo $this->url('users', array('action'=>'dodaj'));?>">
    <label>
        <span>Login</span>
        <input type="text" value="" required="required" name="Login">
    </label>
    <label>
        <span>Hasło</span>
        <input type="password" value="" required="required" name="Haslo">
    </label>
    <label>
        <span>Imię</span>
        <input type="text" value="" required="required" name="Imie">
    </label>
    <label>
        <span>Nazwisko</span>
        <input type="text" value="" required="required" name="Nazwisko">
    </label>
    <label>
        <span>Rola</span>
        <select class="role" name="role">
            <?php    foreach ($role as $key => $row) { ?>
                <option value="<?php echo($row['id']); ?>"><?php echo($row['rola']); ?></option>   
            <?php  }   ?>    
        </select>
    </label>
    <div class="odstep"></div>
    <input id="submitbutton" type="submit" value="Zapisz" name="submit">
</form>