<?php
    if($this->error!=''){
        echo '<div id="error-validation">'.$this->error.'</div>';
    }
    if($this->message!=''){
        echo '<div id="info-validation">'.$this->message.'</div>';
    }
?>
<form id="user" name="user" method="post" action="<?php echo $this->url('users', array('action'=>'edytuj', 'id'=>$uzytkownik[0]['id']));?>">
    <label>
        <span>Login</span>
        <input type="text" value="<?php echo($uzytkownik[0]['username']) ?>" required="required" name="Login">
    </label>
    <label>
        <span>Hasło</span>
        <input type="password" value=""  name="Haslo">
    </label>
    <label>
        <span>Imię</span>
        <input type="text" value="<?php echo($uzytkownik[0]['imie']) ?>" required="required" name="Imie">
    </label>
    <label>
        <span>Nazwisko</span>
        <input type="text" value="<?php echo($uzytkownik[0]['nazwisko']) ?>" required="required" name="Nazwisko">
    </label>
    <label>
        <span>Rola</span>
        <select class="role" name="role">
            <?php    foreach ($role as $key => $row) { ?>
                <option value="<?php echo($row['id']); ?>" <?php echo($row['id']==$uzytkownik[0]['id_rola']?'selected="selected"':''); ?>><?php echo($row['rola']); ?></option>   
            <?php  }   ?>    
        </select>
    </label>
    <div class="odstep"></div>
    <input id="submitbutton" type="submit" value="Zapisz" name="submit">
</form>