<?php 
    if($this->error!=''){?>
               <div class="error"><?php echo $this->error;   ?></div> 
 <?php    }
?>

<div id="login-panel-wrapper" <?php if($this->error!=''){?>  style="margin-top:50px;"   <?php  } ?>  >
   <?php 



$form->prepare();
$form->setAttribute('action', $this->url('users',array('action'=>'login')));
echo $this->form()->openTag($form);
echo $this->formRow($form->get('login'));
echo $this->formRow($form->get('password'));
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();

   
   ?>
    </div>

