<div class="odstep"></div>
<form id="user" name="user" method="post" action="<?php echo $this->url('users', array('action'=>'add'));?>">
    <input id="submitbutton" type="submit" value="Dodaj" name="submit">
</form>   
<div class="odstep"></div>
    <table id="uzytkownicy">
       <tr>
           <th>Login</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Stan</th>
            <th>Usuń</th>
       </tr>    
     <?php    foreach ($uzytkownicy as $key => $row) { ?>
        <tr id="users-<?php echo($row['id']); ?>" >
            <td><a href="<?php echo $this->url('users', array('action'=>'edit', 'id'=>$row['id']));?>"><?php echo($row['username']); ?></a></td>
            <td><?php echo($row['imie']); ?></td>
            <td><?php echo($row['nazwisko']); ?></td>
            <td><a title="Zmień stan" class="change-state<?php echo ($row['stan']==0?' inactive">nieaktywny':' active">aktywny'); ?> </a></td>
            <td><a class="delete" id="users-<?php echo($row['id']); ?>"></a></td>       
        </tr>
     <?php  }   ?>
    </table>
