<div class="hero-unit">
    <h1>Lista użytkowników</h1>
   
    
    <form action="<?php echo $this->url('users', array('action'=>'doprivileges'));?>" method="post" name="uprawnienia">
        <?php
        
            foreach($uprawnienia as $k=>$p){?>
            <?php 
                echo('<h3>'.$k.'</h3>');
                foreach($p as $i=>$j){
             ?>
        
                  <label class="privileges" for="<?php echo($k.','.$i); ?>"><?php echo($i); ?> <input type="checkbox" id="<?php echo($k.','.$i); ?>" name="<?php echo($k.','.$i); ?>" value="1" /></label>
                <?php } } ?>
  <input type="submit" value="OK">
</form> 
    </div>